doctype html
html(lang='en')
  head
    title Análise - Licenciamento Ambiental - Pará
    link(rel='stylesheet' href='${templatePath}/style/estilo.css')
    meta(charset='UTF-8')

  body
    div.cabecalho
      div
          img.logo(src='/public/app/images/brasao_pa.png' height="139" width="186")
      div
          h3 GOVERNO DO ESTADO DO PARÁ
      div
          h4 SECRETARIA DE MEIO AMBIENTE E SUSTENTABILIDADE - SEMAS/PA
    div
      p
        | PARECER TÉCNICO referente ao processo abaixo:
    div
      p
        | PROCESSO
        br
        | Número:
        b  ${analise.analise.processo.numero}
        br
        | \#{if analise.analistasTecnicos.size() > 1}
        | Analistas técnicos:
        ul
          | \#{list items:analise.analistasTecnicos, as:'analistaTecnico' }
          li
            | ${analistaTecnico.usuario.pessoa.nome}; \#{cpf}${analistaTecnico.usuario.pessoa.cpf}\#{/cpf}\#{if analistaTecnico.getSetor() != null}; ${analistaTecnico.getSetor().nome}\#{/if}
          | \#{/list}
        | \#{/if}
        | \#{else}
        | Analista técnico:
        b  ${analise.analistasTecnicos.get(0).usuario.pessoa.nome}; \#{cpf}${analise.analistasTecnicos.get(0).usuario.pessoa.cpf}\#{/cpf}\#{if analise.analistasTecnicos.get(0).getSetor() != null}; ${analise.analistasTecnicos.get(0).getSetor().nome}\#{/if}
        | \#{/else}
        br
        | Empreendimento:
        b  ${analise.analise.processo.empreendimento.denominacao}
        br
        | Municipío:
        b
          | ${analise.analise.processo.empreendimento.endereco.municipio.nome}-${analise.analise.processo.empreendimento.endereco.municipio.estado.codigo}
    div
      p.parecer
        | \#{verbatim}${analise.parecer}\#{/verbatim}