doctype html
|%{
|	caracterizacao = analiseEspecifica.analise.processo.caracterizacao;
|	numeroProtocolo = analiseEspecifica.analise.processo.numero;
|	siglaLicenca = caracterizacao.tipoLicenca.sigla;
|}%
html(lang="pt-br")
	head
		meta(charset='utf-8')
		title Análise - Licenciamento Ambiental - Amapá
		link(rel='stylesheet' href='${templatePath}/style/estilo.css')
		style.
			* {
				margin: 0;
				padding:0;
			}

body.corpo
	div.titulo
		h2 PARECER TÉCNICO Nº ${numeroProcesso}
	div.conteudo
		h3 PROCESSO: ${analiseEspecifica.analise.processo.caracterizacao.processoLicenciamento.numero}
		h3 PROTOCOLO: ${analiseEspecifica.analise.processo.numero}
		h3 INTERESSADO: ${analiseEspecifica.analise.processo.empreendimento.empreendimentoEU.denominacao}

		ol.lista-conteudo
		
			|\#{if vistoria.realizada == false}
			li  
				.titulo-item DA JUSTIFICATIVA DA NÃO VISTORIA
				.conteudo-item  
					|\#{verbatim}${vistoria.conclusao}\#{/verbatim}
			|\#{/if}

			li
				.titulo-item DO PROCESSO
				.conteudo-item
					|\#{verbatim}${parecer.doProcesso}\#{/verbatim}

			li
				.titulo-item DA ANÁLISE TÉCNICA
				.conteudo-item
					|\#{verbatim}${parecer.daAnaliseTecnica}\#{/verbatim}

			li
				.titulo-item DA CONCLUSÃO
				.conteudo-item
					|\#{verbatim}${parecer.daConclusao}\#{/verbatim}
	
		div
			h3(style="text-align:center; margin-top:30px;") RESTRIÇÕES E/OU CONDIÇÕES DE VALIDADE DESTA LICENÇA - ${siglaLicenca} Nº ${numeroProtocolo}
		
		|\#{if siglaLicenca == 'LP'}
		div
			ol.lista-conteudo
				li.titulo-item
					.conteudo-item
						span  O recebimento da presente Licença Prévia deverá ser publicado no Diário Oficial do Estado, 
							|em periódico local e meio digital oficial, conforme preconiza a Lei Complementar Estadual Nº. 005/94. 
							|A comprovação do atendimento desta condicionante deverá ser protocolada nesta Secretaria de Estado do Meio Ambiente- SEMA 
							|no prazo máximo de 30 (trinta) dias a contar da data de expedição desta licença;
				li.titulo-item
					.conteudo-item
						span O empreendedor deverá requerer a renovação da presente licença no período de 90 (noventa) dias antes da expiração da mesma;
				li.titulo-item
					.conteudo-item
						span Quaisquer alterações nas especificações do projeto apresentado somente poderão ser realizadas se precedidas de anuência da SEMA;
				li.titulo-item
					.conteudo-item
						span A SEMA, mediante decisão motivada e embasada, poderá modificar prazos das condicionantes, assim como medidas de controle das mesmas, 
							|podendo suspender ou cancelar esta licença, quando ocorrer: a) violação ou inadequação de quaisquer condicionantes ou normais legais; 
							|b) omissão ou falsa descrição de informações relevantes que subsidiaram a expedição da licença; 
							|c) superveniência de graves riscos ambientais e de saúde animal ou humana;
		|\#{/if}
		
		|\#{if siglaLicenca == "LI" || siglaLicenca == "RLI"}
		div
			ol.lista-conteudo
				li.titulo-item
					.conteudo-item
						span  O recebimento da presente Licença de Instalação deverá ser publicado no Diário Oficial do Estado, 
							|em periódico local e meio digital oficial, conforme preconiza a Lei Complementar Estadual Nº. 005/94. 
							|A comprovação do atendimento desta condicionante deverá ser protocolada nesta Secretaria de Estado do Meio Ambiente- SEMA 
							|no prazo máximo de 30 (trinta) dias a contar da data de expedição desta licença;
				li.titulo-item
					.conteudo-item
						span O empreendedor deverá requerer a renovação da presente licença no período de 90 (noventa) dias antes da expiração da mesma;
				li.titulo-item
					.conteudo-item
						span Quaisquer alterações nas especificações do projeto apresentado somente poderão ser realizadas se precedidas de anuência da SEMA;
				li.titulo-item
					.conteudo-item
						span O empreendedor deverá confeccionar e fixar placa informativa do licenciamento conforme modelo apresentado pela 
							|SEMA, devendo comprovar o cumprimento desta condicionante mediante registo fotográfico
							|no prazo de 30 (trinta) dias a contar da data de expedição desta Licença;
				li.titulo-item
					.conteudo-item
						span O Empreendedor deverá requerer a “Taxa Anual de Renovação de Licenciamento” enquanto perdurar a
							|validade da licença. O vencimento para o pagamento da “Taxa”, obedecerá a proporcionalidade do mês que foi
							|expedida a licença (aniversário da licença), nos termos do 1° do Art. 12-A da Lei Complementar 005/94. A
							|comprovação do atendimento desta condicionante deverá ser protocolada na Secretaria de Estado do Meio
							|Ambiente no prazo máximo de 30 (trinta) dias, a Contar do vencimento para o pagamento da taxa;
				li.titulo-item
					.conteudo-item
						span A SEMA, mediante decisão motivada e embasada, poderá modificar prazos das condicionantes, assim como medidas 
							|de controle das mesmas, podendo suspender ou cancelar esta licença, quando ocorrer a
							|violação ou inadequação de quaisquer condicionantes ou normais legais; b) omissão ou falsa descrição de
							|informações relevantes que subsidiaram a expedição da licença; c) superveniência de graves riscos ambientais
							|e de saúde animal ou humana;
				li.titulo-item
					.conteudo-item
						span Esta licença deverá ser fixada em local visível no empreendimento.
		|\#{/if}
		
		|\#{if siglaLicenca == "LO" || siglaLicenca == "RLO"}
		div
			ol.lista-conteudo
				li.titulo-item
					.conteudo-item
						span  O recebimento da presente Licença de Operação (LO) deverá ser publicado no Diário Oficial do Estado, em periódico local e meio digital oficial,
							|conforme preconiza a Lei Complementar No. 070/2012, sendo que as cópias das publicações deverão ser encaminhadas ao IMAP 
							|no prazo de 30 (trinta) dias.
				li.titulo-item
					.conteudo-item
						span O empreendedor deve requerer a renovação da presente licença no prazo de 120 (cento e vinte) dias antes da expiração da mesma, 
							|devendo ainda requerer a “Taxa Anual de Renovação de Licenciamento” instituída pela Lei Complementar no 70/2012, durante o mês de janeiro de cada ano.
							|O vencimento para o pagamento da conforme o §1o, do art. 1o, da Lei Complementar no. 070/2012. O vencimento para o pagamento da 
							|“Taxa Anual de Renovação de Licenciamento” será sempre no dia 31 de janeiro de cada ano, conforme o art. 1o, da LC No. 070/2012, a cópia do 
							|comprovante de pagamento deverá ser protocolada no IMAP até o dia 28 de fevereiro de cada ano. 
				li.titulo-item
					.conteudo-item
						span O IMAP, mediante decisão motivada e embasada, poderá modificar prazos das condicionantes, assim como medidas de controle das mesmas, 
							|podendo suspender ou cancelar esta licença, quando ocorrer prioritariamente: a) violação ou inadequação de quaisquer condicionantes ou normais legais; 
							|b) omissão ou falsa descrição de informações relevantes que subsidiaram a expedição da licença; 
							|c) superveniência de graves riscos ambientais e de saúde animal ou humana;
				li.titulo-item
					.conteudo-item
						span Quaisquer alterações nas especificações do projeto apresentado somente poderão ser realizadas se precedidas de anuência do IMAP;
				li.titulo-item
					.conteudo-item
						span A empresa deverá confeccionar e fixar placa informativa do licenciamento conforme modelo apresentado pelo IMAP, bem como mantê-las atualizadas a cada renovação, 
							|no prazo de 15 (quinze) dias.
				li.titulo-item
					.conteudo-item
						span Esta licença deverá ser fixada em local visível no empreendimento.
		|\#{/if}
		| \#{if parecer != null && ((parecer.condicionantes!= null && !parecer.condicionantes.isEmpty()) || (parecer != null && parecer.restricoes != null && !parecer.restricoes.isEmpty()))}			
		div
			h3(style="text-align:center; margin-top:30px;") RESTRIÇÕES E/OU CONDIÇÕES ESPECÍFICAS DESTA LICENÇA - ${siglaLicenca} Nº ${numeroProtocolo}
		div 
			ol.lista-conteudo
				|\#{if !parecer.condicionantes.isEmpty()}
				|\#{list items:parecer.condicionantes, as:'condicionante'}
				li.titulo-item
					.conteudo-item
						span ${condicionante.texto} 
						br
						span Prazo para atendimento de ${condicionante.prazo} dia(s).
				|\#{/list}
				|\#{/if}
				|\#{if !parecer.restricoes.isEmpty()}
				|\#{list items:parecer.restricoes, as:'restricao'}
				li.titulo-item
					.conteudo-item
						span ${restricao.texto}
				|\#{/list}
				|\#{/if}
		|\#{/if}

		br
		br
		p.text-align-center ${nomeAnalista}
		p.text-align-center
			strong Analista Técnico

		p.text-align-right Macapá, ${dataDoParecer}