mixin resumo-processo(processo)
    section.margin-bottom-md
        
        header.row
                
            h3.col-md-6 Resumo do processo

            .col-md-6(style="margin-top: 20px; margin-bottom: 10px")
                .btn-group.pull-right(role="group")
                    button.btn.btn-default
                        i.glyphicon.glyphicon-th-list.glyphicon--with-right-margin
                        | Legislações
                    button.btn.btn-default
                        i.glyphicon.glyphicon-eye-open.glyphicon--with-right-margin
                        | Dados do processo

        div

            div
                label.not-bold.margin-right-xs(for="texto_numero_processo") Número: 
                span#texto_numero_processo
                    strong {{#{processo}.numero}}
            div
                label.not-bold.margin-right-xs(for="texto_cpf_ou_cnpj") CPF/CNPJ: 
                span#texto_cpf_ou_cnpj
                    strong {{#{processo}.empreendimento.pessoa.cpf}}
            div
                label.not-bold.margin-right-xs(for="texto_nome_empreendimento") Empreendimento: 
                span#texto_nome_empreendimento
                    strong {{#{processo}.empreendimento.denominacao}}
            div
                label.not-bold.margin-right-xs(for="texto_municipio_estado") Município: 
                span#texto_municipio_estado   
                    strong {{#{processo}.empreendimento.municipio.nome}} / {{#{processo}.empreendimento.municipio.estado.codigo}}