include ../../../layout/components/paginacao

div

	filtro-processos(paginacao="cxEntAnalistaGeo.paginacao",
		disabled-fields="cxEntAnalistaGeo.disabledFields",
		atualizar-lista="cxEntAnalistaGeo.atualizarListaProcessos",
		atualizar-paginacao="cxEntAnalistaGeo.atualizarPaginacao",
		condicao-tramitacao="cxEntAnalistaGeo.condicaoTramitacao.CAIXA_ENTRADA_ANALISTA_GEO",
		pesquisar-ao-inicializar="true",
		is-analise-geo="true")

	h4 Lista de protocolos
	hr
	.row
		.col-md-12
			div(ng-if="cxEntAnalistaGeo.processos && cxEntAnalistaGeo.processos.length > 0")
				table.table.table-striped.table-condensed.no-margin
					thead
						tr
							th
							th.col-md-1.text-center Protocolo
							th.col-md-2.text-center CPF/CNPJ
							th.col-md-3.text-center Empreendimento
							th.col-md-2.text-center Município
							th.col-md-1.text-center Licença
							th.col-md-2.text-center Prazo análise
							th.col-md-2.text-center Prazo análise GEO
							th.col-md-2.text-center Ações
					tbody
						tr(ng-repeat="processo in cxEntAnalistaGeo.processos")
							td
								span(ng-class="{'icone-notificado': cxEntAnalistaGeo.notificacaoAtendida(processo)}")
							td(ng-attr-title="{{processo.numero}}").text-center {{processo.numero}}
							td.text-center {{processo.cpfEmpreendimento ? processo.cpfEmpreendimento : processo.cnpjEmpreendimento | brCpfCnpj}}
							td.text-center.break-word {{processo.denominacaoEmpreendimento}}
							td.text-center {{processo.municipioEmpreendimento}}/{{processo.siglaEstadoEmpreendimento}}
							td.text-center {{processo.licencas}}
							td(ng-class="{'error-message': cxEntAnalistaGeo.dateUtil.verificaPrazoMinimoData(cxEntAnalistaGeo.dateUtil.somaPrazoEmDias(processo.dataCadastroAnalise, cxEntAnalistaGeo.PrazoAnalise.ANALISE), cxEntAnalistaGeo.PrazoMinimoAvisoAnalise.ANALISE)}").text-center
								| {{cxEntAnalistaGeo.dateUtil.getContaDiasRestantesData(cxEntAnalistaGeo.dateUtil.somaPrazoEmDias(processo.dataCadastroAnalise, cxEntAnalistaGeo.PrazoAnalise.ANALISE))}}
							td(ng-class="{'error-message': processo.diasAnaliseGeo > cxEntAnalistaGeo.PrazoMinimoAvisoAnalise.ANALISE_GEO}").text-center
								| {{ cxEntAnalistaGeo.PrazoMinimoAvisoAnalise.ANALISE_GEO - processo.diasAnaliseGeo }}
							td
								span.pull-right

									.dropdown.action-table
										button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
											| Ações &nbsp;
											span.caret
										ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1',style="padding-bottom:0px;")
											li
												a(ng-click="cxEntAnalistaGeo.iniciarAnalise(processo)")
													i.glyphicon.glyphicon-ok-circle
													span Iniciar análise
											li
												a(ng-click="cxEntAnalistaGeo.visualizarProcesso(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar protocolo
											li
												a(ng-click="cxEntAnalistaGeo.solicitarDesvinculoAnaliseGeo(processo)")
													i.glyphicon.glyphicon-link
													span Solicitação de desvínculo
											li(ng-if='cxEntAnalistaGeo.notificacaoAtendida(processo)')
												a(ng-click="cxEntAnalistaGeo.visualizarNotificacao(processo)")
													i.glyphicon.glyphicon-bell
													span Notificação
				.legenda
					span.col-md-4.icone-notificado.legenda-margin(style="margin-bottom:23px") Notificação Atendida

				+paginacao('cxEntAnalistaGeo.paginacao', 'cxEntAnalistaGeo.onPaginaAlterada')

		.row(ng-show="!cxEntAnalistaGeo.processos || cxEntAnalistaGeo.processos.length == 0")
			.col-md-12
				p.empty-result Não existem dados a serem exibidos.
