div
	h4.titulo.col-md-12 Cadastro de Manejo Digital.

	.row

	hr

	.row.form-group
		.col-md-12.col-sm-12
			label.control-label Número do processo: *
			input.form-control(type='text', name='numProcesso', ng-model='cadastroProcessoManejo.processo.numeroProcesso', placeholder='Número do processo', maxlength="15", required)

	.row.form-group

		.col-md-6.col-sm-6
			label.control-label Tipologia: *
			select.form-control(ng-model="cadastroProcessoManejoController.tipologias", name="selectTipologia",
							ng-options="tipologia.id as tipologia.nome for tipologia in cadastroProcessoManejoController.tipologia | orderBy:'nome' track by tipologia.id", required)
				option(value="") Selecione a tipologia do processo

		.col-md-6.col-sm-6
			label.control-label Atividade: *
			select.form-control(ng-model="cadastroProcessoManejoController.atividade", name="selectAtividade",
								ng-options="", required)
				option(value="") Selecione a atividade do processo

	.row.form-group

		.col-md-6.col-sm-6
			label.control-label Município: *
			select.form-control(ng-model="cadastroProcessoManejoController.municipio", name="selectMunicipio",
								ng-options="", required)
				option(value="") Selecione o municipio

		.col-md-6.col-sm-6
			label.control-label Licença:
			.col-md-12.div-checkbox-manejo
				input.checkbox-manejo(type='checkbox', placeholder='APAT', disabled="true", ng-model='cadastroProcessoManejoController.licenca', ng-click="")
				|  APAT
				input.checkbox-manejo(type='checkbox', placeholder='AUTEF', disabled="true", ng-model='cadastroProcessoManejoController.licenca', ng-click="")
				|  AUTEF
				input.checkbox-manejo(type='checkbox', placeholder='LAR', disabled="true", ng-model='cadastroProcessoManejoController.licenca', ng-click="")
				|  LAR

	hr

	div.form-group

		label.required.control-label(for='codigoCar') Informe o CAR: *

		div.input-group

			input.form-control(type='text',
								ng-model='cadastroProcessoManejo.processo.empreendimento.imovel.registroCar',
								enter='cadastroProcessoManejo.buscarImovel()',
								placeholder='Informe o CAR do processo.',
								name='car'
							)

			span.input-group-btn
				button.btn.btn-default(type='button', ng-click='cadastroProcessoManejo.buscarImovel()', ng-disabled="")
					span.glyphicon.glyphicon-search

	.row
		label.subtitulo.col-sm-3 Proprietário
	.row
		label.col-sm-3 CPF/CNPJ:
		.col-sm-3
			span
		label.col-sm-3 Nome:
		.col-sm-3
			span
	.row
		label.col-sm-3 Endereço:
		.col-sm-3
			span
		label.col-sm-3 Município / UF:
		.col-sm-3
			span
	.row
		label.subtitulos.col-sm-3 Descrição de acesso:
	.row
		.col-sm-3
			label