include ../../../layout/components/inputErrors

div
	h4.titulo.col-md-12 Cadastro de Manejo Digital

	.row

	hr

	.row.form-group
		.col-md-12.col-sm-12
			label.control-label Número do processo: *
			input.form-control(type='text', name='numProcesso', ng-model='cadastroProcessoManejoManejo.processo.numeroProcesso', placeholder='Número do processo', maxlength="15", required)

	.row.form-group

		.col-md-6.col-sm-6
			label.control-label Tipologia: *
			select.form-control(ng-model="cadastroProcessoManejo.tipologia", name="selectTipologia"
							ng-options="tipologia.id as tipologia.nome for tipologia in cadastroProcessoManejo.tipologias | orderBy:'nome' track by tipologia.id",
			ng-change="cadastroProcessoManejo.buscarAtividades()", required)
				option(value="") Selecione a tipologia do processo

		.col-md-6.col-sm-6
			label.control-label Atividade: *
			select.form-control(ng-model="cadastroProcessoManejo.processo.atividadeManejo.id", ng-disabled="!cadastroProcessoManejo.tipologia", name="selectAtividade",
								ng-options="atividade.id as atividade.nome for atividade in cadastroProcessoManejo.atividades | orderBy:'nome' track by atividade.id", required)
				option(value="") Selecione a atividade do processo

	.row.form-group

		.col-md-6.col-sm-6
			label.control-label Município: *
			select.form-control(ng-model="cadastroProcessoManejo.processo.empreendimento.municipio.id", name="selectMunicipio",
								ng-options="municipio.id as municipio.nome for municipio in cadastroProcessoManejo.municipios track by municipio.id", required)
				option(value="") Selecione o municipio

		.col-md-6.col-sm-6
			label.control-label Licença:
			.col-md-12.div-checkbox-manejo
				div
					input.checkbox-manejo(type='checkbox', placeholder='APAT', disabled="true", ng-model='cadastroProcessoManejo.licenca', ng-checked="true")
					|  APAT
				div.checkbox-manejo-disabled
					input.checkbox-manejo(type='checkbox', placeholder='AUTEF', disabled="true", ng-model='cadastroProcessoManejo.licenca')
					|  AUTEF
					input.checkbox-manejo(type='checkbox', placeholder='LAR', disabled="true", ng-model='cadastroProcessoManejo.licenca')
					|  LAR

	hr

	div.form-group(ng-if="!cadastroProcessoManejoManejo.processo.empreendimento.denominacao")

		label.required.control-label Informe o CAR: *

		div.input-group

			input.form-control(type='text',
								ng-model='cadastroProcessoManejoManejo.processo.empreendimento.imovel.registroCar',
								enter='cadastroProcessoManejoManejo.buscarImovel()',
								placeholder='Informe o CAR do processo.',
								name='car'
							)

			span.input-group-btn
				button.btn.btn-default(type='button', ng-click='cadastroProcessoManejoManejo.buscarImovel()')
					span.glyphicon.glyphicon-search

	div(ng-if="cadastroProcessoManejoManejo.processo.empreendimento.denominacao")
		fieldset.panel.panel-default
			div.panel-heading
				h3.panel-title Dados do imóvel
			div.panel-body
				.row
					label.col-xs-2 Recibo do CAR:
					.col-xs-8
						span {{ cadastroProcessoManejoManejo.processo.empreendimento.imovel.registroCar }}
				.row.margin-top-sm
					label.col-xs-2 Proprietário:
					.col-xs-4
						span {{ cadastroProcessoManejoManejo.processo.empreendimento.denominacao }}
					label.col-xs-2 Nome do imóvel:
					.col-xs-4
						span {{ cadastroProcessoManejoManejo.processo.empreendimento.imovel.nome }}
				.row.margin-top-sm
					label.col-xs-2 CPF / CNPJ:
					.col-xs-4
						span {{ cadastroProcessoManejoManejo.processo.empreendimento.cpfCnpj | brCpfCnpj}}
					label.col-xs-2 Município / UF:
					.col-xs-4
						span {{ cadastroProcessoManejoManejo.processo.empreendimento.imovel.nomeSiglaMunicipio }}
				.row.margin-top-sm
					label.subtitulos.col-xs-3 Descrição de acesso:
				.row
					.col-xs-12
						span {{ cadastroProcessoManejoManejo.processo.empreendimento.imovel.descricaoAcesso }}
				.row.margin-top-sm.pull-right.margin-right-sm
					button.btn.btn-default(ng-click="cadastroProcessoManejoManejo.excluirProcesso()")
						i.glyphicon.glyphicon-trash

	div.margin-top-md

			button.btn.btn-default.pull-left(ng-click="cadastroProcessoManejoManejo.voltar()")
				i.glyphicon.glyphicon-remove.glyphicon--with-right-margin
				| Cancelar


			button.btn.btn-success.pull-right(ng-click="cadastroProcessoManejoManejo.cadastrar()")
				i.glyphicon.glyphicon-ok.glyphicon--with-right-margin
				| Finalizar