div
	h4.titulo.col-md-12 Cadastro de Manejo Digital.

	.row

	hr

	.row.form-group
		.col-md-12.col-sm-12
			label.control-label Número do processo: *
			input.form-control(type='text', name='numProcesso', ng-model='cadastroProcessoManejo.processo.numeroProcesso', placeholder='Número do processo', maxlength="15", required)

	//-    .row.form-group
    //-         .col-md-12
    //-             label.control-label Atividade do empreendimento:
    //-             select.form-control(ng-model="$ctrl.filtro.idAtividadeEmpreendimento", name="selectAtividade",
    //-                                 ng-options="atividade.id as atividade.nome for atividade in $ctrl.atividades | orderBy:'nome' track by atividade.id")
    //-                 option(value="") Selecione a atividade do empreendimento


	.row.form-group

<<<<<<< HEAD
		.col-md-6.col-sm-6
			label.control-label Tipologia: *
			select.form-control(ng-model="cadastroProcessoManejoController.tipologias", name="selectTipologia",
							ng-options="tipologia.id as tipologia.nome for tipologia in cadastroProcessoManejoController.tipologias | orderBy:'nome' track by tipologia.id", required)
				option(value="") Selecione a tipologia do processo

		.col-md-6.col-sm-6
			label.control-label Atividade: *
			select.form-control(ng-model="cadastroProcessoManejoController.atividades", name="selectMunicipio",
								ng-options="", required)
				option(value="") Selecione a atividade do processo
=======
	//- 	.col-md-6.col-sm-6
	//- 		label.control-label Tipologia: *
	//- 		select.form-control(ng-model="cadastroProcessoManejo.tipologia", name="selectTipologia",
	//- 						ng-options="", required)
	//- 			option(value="") Selecione a tipologia do processo

	//- 	.col-md-6.col-sm-6
	//- 		label.control-label Atividade: *
	//- 		select.form-control(ng-model="cadastroProcessoManejo.atividade", name="selectMunicipio",
	//- 							ng-options="", required)
	//- 			option(value="") Selecione a atividade do processo
>>>>>>> 653d98a06e28df5f995e7584a24233225dbcc26c

	//- .row.form-group

<<<<<<< HEAD
		.col-md-6.col-sm-6
			label.control-label Município: *
			select.form-control(ng-model="cadastroProcessoManejoController.municipios", name="selectMunicipio",
								ng-options="", required)
				option(value="") Selecione o municipio
=======
	//- 	.col-md-6.col-sm-6
	//- 		label.control-label Município: *
	//- 		select.form-control(ng-model="cadastroProcessoManejo.municipio", name="selectMunicipio",
	//- 							ng-options="", required)
	//- 			option(value="") Selecione o municipio
>>>>>>> 653d98a06e28df5f995e7584a24233225dbcc26c

		.col-md-6.col-sm-6
			label.control-label Licença:
			.col-md-12.div-checkbox-manejo
<<<<<<< HEAD
				input.checkbox-manejo(type='checkbox', placeholder='APAT', disabled="true", ng-model='cadastroProcessoManejoController.licencas', ng-click="")
				|  APAT
				input.checkbox-manejo(type='checkbox', placeholder='AUTEF', disabled="true", ng-model='cadastroProcessoManejoController.licencas', ng-click="")
				|  AUTEF
				input.checkbox-manejo(type='checkbox', placeholder='LAR', disabled="true", ng-model='cadastroProcessoManejoController.licencas', ng-click="")
=======
				input.checkbox-manejo(type='checkbox', placeholder='APAT', disabled="true", ng-model='cadastroProcessoManejo.licenca', ng-click="")
				|  APAT
				input.checkbox-manejo(type='checkbox', placeholder='AUTEF', disabled="true", ng-model='cadastroProcessoManejo.licenca', ng-click="")
				|  AUTEF
				input.checkbox-manejo(type='checkbox', placeholder='LAR', disabled="true", ng-model='cadastroProcessoManejo.licenca', ng-click="")
>>>>>>> 653d98a06e28df5f995e7584a24233225dbcc26c
				|  LAR

	hr

	div.form-group

		label.required.control-label(for='codigoCar') Informe o CAR: *

		div.input-group

			input.form-control(type='text',
								ng-model='cadastroProcessoManejo.processo.empreendimento.imovel.registroCar',
								enter='cadastroProcessoManejo.buscarImovel()',
								placeholder='Informe o CAR do processo.',
								name='car'
							)

			span.input-group-btn
				button.btn.btn-default(type='button', ng-click='cadastroProcessoManejo.buscarImovel()', ng-disabled="")
					span.glyphicon.glyphicon-search

	.row
		label.subtitulo.col-sm-3 Proprietário
	.row
		label.col-sm-3 CPF/CNPJ:
		.col-sm-3
			span
		label.col-sm-3 Nome:
		.col-sm-3
			span
	.row
		label.col-sm-3 Endereço:
		.col-sm-3
			span
		label.col-sm-3 Município / UF:
		.col-sm-3
			span
	.row
		label.subtitulos.col-sm-3 Descrição de acesso:
	.row
		.col-sm-3
			label