div(ng-if='isRoute("/parecer-orgao")', ng-controller='parecerOrgaoController')  
    .row
        .col-md-6
            h4 PROCESSO

            div.row
                label.col-sm-4 Número:
                span.col-sm-8 {{comunicado.analiseGeo.analise.processo.numero ? comunicado.analiseGeo.analise.processo.numero : comunicado.analiseGeo.analise.processo.numeroProcesso}}

            div.row
                label.col-sm-4 CPF/CNPJ:
                span.col-sm-8 {{comunicado.analiseGeo.analise.processo.empreendimento.pessoa.cpf ? comunicado.analiseGeo.analise.processo.empreendimento.pessoa.cpf : comunicado.analiseGeo.analise.processo.empreendimento.pessoa.cnpj | brCpfCnpj}}

            div.row
                label.col-sm-4 Interessado:
                span.col-sm-8 {{comunicado.analiseGeo.analise.processo.empreendimento.denominacao}}

            div.row
                label.col-sm-4 Município:
                span.col-sm-8 {{comunicado.analiseGeo.analise.processo.empreendimento.municipio.nome }}/{{comunicado.analiseGeo.analise.processo.empreendimento.municipio.estado.codigo }}

    div
        br
        br

        table.table.table-striped.table-condensed.no-margin.table-responsive(style="border: 1px solid #d0cbcb;margin: 0px; width: 811px; height: 88px;")
            thead
                tr
                th.col-md-4 Áreas de Restrição 

            tbody
                tr
                    td.col-md-4 {{comunicado.tipoSobreposicao.nome}}
    div(ng-if="comunicado.valido == false ? disabled=false: disabled = true")        
        div(ng-if="comunicado.resolvido == true ? disabled=false: disabled = true")
            label(style="font-size:13px;") Descrição do Parecer*: 
            br
            textarea(name="descricaoParecer", ng-model="descricaoParecer", style="margin: 0px; width: 811px; height: 88px;")

            div.btn.btn-default(style=" margin-bottom:5px;",type="file", name="arquivo", ngf-select="upload($file, $invalidFile)", ngf-accept="'application/pdf,image/*'", ngf-pattern="'application/pdf,image/*'", ngf-max-size="{{TAMANHO_MAXIMO_ARQUIVO_MB}}MB")
                i.glyphicon.glyphicon-open.glyphicon--with-right-margin
                | Anexar arquivo na inconsistência

            table.table.table-condensed(ng-if="anexos.length > 0")
                thead

                    tr
                        th.col-md-10 Arquivo anexado
                        th.col-md-2.text-right Ações

                tbody

                    tr(ng-model="anexo",ng-repeat="anexo in anexos")

                        td.col-md-10 {{anexo.nomeDoArquivo}}
                        td.col-md-2.text-right
                            a.d-inline.margin-right-xs(style='cursor: pointer;',title="Baixar anexo", ng-click="baixarDocumento(anexo)")
                                i.glyphicon.glyphicon-save

                            a.d-inline.margin-right-xs(style='cursor: pointer;',title="Remover anexo", ng-click="removerDocumento($index,anexo.id)")
                                i.glyphicon.glyphicon-trash

        div
            button.btn.btn-default.pull(ng-click="cancelar()",style="margin-left: 610px; margin-top: 15px;",ng-if="comunicado.resolvido == true ? disabled=false: disabled = true")
                i.glyphicon.glyphicon-arrow-left
                | &nbsp;Cancelar
            button.btn.btn-success.pull-right(type="button",ng-click="enviar()",style="margin-right: 38px; margin-top: 15px;",ng-if="comunicado.resolvido == true ? disabled=false: disabled = true")
                i.glyphicon.glyphicon-ok
                | &nbsp;Enviar
            h2.text-center(ng-if="comunicado.resolvido == true ? disabled=true: disabled = false") Resposta já cadastrada!
    h4.text-center(ng-if="comunicado.valido == false ? disabled=true: disabled = false") Prazo para resposta expirado!       