include ../../layout/components/paginacao

div
	filtro-processos(paginacao="consultarProcesso.paginacao",
		disabled-fields="consultarProcesso.disabledFields",
		atualizar-lista="consultarProcesso.atualizarListaProcessos",
		atualizar-paginacao="consultarProcesso.atualizarPaginacao",
		pesquisar-ao-inicializar="true",
		is-analise-juridica="false",
		is-analise-tecnica="false",
		is-analise-geo="false",
		is-gerente="false",
		is-gerente-logado="false",
		consultar-processos="true",
		pesquisar-todas-gerencias="false",
		filtrar-por-usuario="false")

	h4 Lista de protocolos

	hr
	.row
		.col-md-12
			div(ng-if="consultarProcesso.processos && consultarProcesso.processos.length > 0")
				table.table.table-striped.table-condensed.no-margin
					thead
						tr
							th.col-sm
							th.col-md-2.text-center Protocolo
							th.col-md-2.text-center Empreendimento
							th.col-md-2.text-center Município
							th.col-md-2.text-center Licença
							th.col-md-2.text-center Prazo análise
							th.col-md-2.text-center Prazo análise GEO
							th.col-md-2(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.ANALISTA_GEO").text-center Prazo análise técnica
							th.col-md-2.text-center Ações
					tbody
						tr(ng-repeat="processo in consultarProcesso.processos")
							td
								span(ng-class="{'icone-solicitacao-desvinculo-pendente': processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.SOLICITACAO_DESVINCULO_PENDENTE_ANALISE_GEO || processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.SOLICITACAO_DESVINCULO_PENDENTE_ANALISE_TECNICA}")
								span(ng-class="{'icone-solicitacao-finalizada-geo': consultarProcesso.verificaStatusAnaliseGeo(processo.idCondicaoTramitacao)}")
								span(ng-class="{'icone-solicitacao-finalizada-tecnica': consultarProcesso.verificaStatusAnaliseTecnica(processo.idCondicaoTramitacao)}")
								span(ng-class="{'icone-revisao-atendida': processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.NOTIFICADO_PELO_ANALISTA_GEO}")
								span(ng-class="{'icone-revisao-atendida': processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.NOTIFICADO_PELO_ANALISTA_TECNICO}")
							
							td(ng-attr-title="{{processo.numero}}").text-center {{processo.numero | textoTruncado : 4:3}}
							td.text-center {{processo.denominacaoEmpreendimento}}
							td.text-center {{processo.municipioEmpreendimento}}/{{processo.siglaEstadoEmpreendimento}}
							td.text-center {{processo.licencas}}

							td(ng-class="{'error-message': consultarProcesso.dateUtil.verificaPrazoMinimoData(consultarProcesso.dateUtil.somaPrazoEmDias(processo.dataCadastroAnalise, consultarProcesso.PrazoAnalise.ANALISE), consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE)}").text-center
								| {{ consultarProcesso.dateUtil.getContaDiasRestantesData(consultarProcesso.dateUtil.somaPrazoEmDias(processo.dataCadastroAnalise, consultarProcesso.PrazoAnalise.ANALISE)) }}

							td(ng-class="{'error-message': consultarProcesso.dateUtil.verificaPrazoMinimoData(processo.dataVencimentoPrazoAnaliseGeo, consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE_GEO)}").text-center
								| {{ processo.dataConclusaoAnaliseGeo ? 'Concluída' : consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE_GEO - processo.diasAnaliseGeo }}

							td(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.ANALISTA_GEO", ng-class="{'error-message': consultarProcesso.dateUtil.verificaPrazoMinimoData(processo.dataVencimentoPrazoAnaliseTecnica, consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE_TECNICA)}")
								| {{ consultarProcesso.prazoAnaliseTecnica(processo) }}

							td
								span.pull-right

									.dropdown.action-table
										button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
											| Ações &nbsp;
											span.caret
										ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
											li
												a(ng-click="consultarProcesso.visualizarProcesso(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar protocolo
											li(ng-if="(consultarProcesso.verificaStatusAnaliseGeo(processo.idCondicaoTramitacao) || consultarProcesso.usuarioLogadoCodigoPerfil === consultarProcesso.perfis.ANALISTA_TECNICO) && consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.GERENTE")
												a(ng-click="consultarProcesso.downloadPDFparecer(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar parecer GEO
											li(ng-if="(consultarProcesso.verificaStatusAnaliseGeo(processo.idCondicaoTramitacao) || consultarProcesso.usuarioLogadoCodigoPerfil === consultarProcesso.perfis.ANALISTA_TECNICO) && consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.GERENTE")
												a(ng-click="consultarProcesso.downloadPDFCartaImagem(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar carta imagem
											li(ng-if="consultarProcesso.verificaStatusAnaliseTecnica(processo.idCondicaoTramitacao) && consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.GERENTE")
												a(ng-click="consultarProcesso.downloadPDFparecerTecnico(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar parecer TÉCNICO
											li(ng-if="consultarProcesso.verificaStatusAnaliseTecnica(processo.idCondicaoTramitacao) && consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.GERENTE")
												a(ng-click="consultarProcesso.downloadPDFminuta(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar Minuta
											li(ng-if="(consultarProcesso.verificaStatusAnaliseTecnica(processo.idCondicaoTramitacao) && consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.GERENTE) || processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.NOTIFICADO_PELO_ANALISTA_TECNICO")
												a(ng-click="consultarProcesso.downloadPDFvistoria(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar RTV
											li(ng-if="processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.NOTIFICADO_PELO_ANALISTA_GEO")
												a(ng-click="consultarProcesso.visualizarNotificacao(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar notificação
											
											li(ng-if="processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.NOTIFICADO_PELO_ANALISTA_TECNICO")
												a(ng-click="consultarProcesso.visualizarNotificacao(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar notificação

				div(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil === consultarProcesso.perfis.ANALISTA_GEO")

					span.icone-solicitacao-desvinculo-pendente.legenda.col-md-4 Solicitação de Desvínculo Pendente
					span.icone-.icone-solicitacao-finalizada-geo.legenda.col-md-3 Análise GEO finalizada
					span.icone-revisao-atendida.legenda.col-md-3 Notificado
					//- span.icone-solicitacao-ajustes.legenda.col-md-3 Solicitação de ajustes

				div(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil === consultarProcesso.perfis.GERENTE")
						
					span.icone-solicitacao-desvinculo-pendente.legenda.col-md-4 Solicitação de Desvínculo Pendente
					span.icone-.icone-solicitacao-finalizada-geo.legenda.col-md-3 Análise GEO finalizada
					span.icone-.icone-solicitacao-finalizada-tecnica.legenda.col-md-3 Análise técnica finalizada
					span.icone-revisao-atendida.legenda.col-md-3 Notificado
					//- span.icone-solicitacao-ajustes.legenda.col-md-3 Solicitação de ajustes
				
				div(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil === consultarProcesso.perfis.ANALISTA_TECNICO")

					span.icone-solicitacao-desvinculo-pendente.legenda.col-md-4 Solicitação de Desvínculo Pendente
					span.icone-.icone-solicitacao-finalizada-tecnica.legenda.col-md-3 Análise técnica finalizada
					span.icone-revisao-atendida.legenda.col-md-3 Notificado
					//- span.icone-solicitacao-ajustes.legenda.col-md-3 Solicitação de ajustes			

				+paginacao('consultarProcesso.paginacao', 'consultarProcesso.onPaginaAlterada')

		.row(ng-show="!consultarProcesso.processos || consultarProcesso.processos.length == 0")
			.col-md-12
				p.empty-result Não existem dados a serem exibidos.