include ../../layout/components/paginacao

div
	filtro-processos(paginacao="consultarProcesso.paginacao",
		disabled-fields="consultarProcesso.disabledFields",
		atualizar-lista="consultarProcesso.atualizarListaProcessos",
		atualizar-paginacao="consultarProcesso.atualizarPaginacao",
		pesquisar-ao-inicializar="true",
		is-analise-juridica="false",
		is-analise-tecnica="false",
		is-analise-geo="usuarioLogadoCodigoPerfil === app.utils.Perfis.ANALISTA_GEO",
		is-gerente="false",
		is-gerente-logado="usuarioLogadoCodigoPerfil === app.utils.Perfis.GERENTE",
		consultar-processos="true",
		pesquisar-todas-gerencias="false",
		filtrar-por-usuario="false")

	h4 Lista de protocolos

	hr
	.row
		.col-md-12
			div(ng-if="consultarProcesso.processos && consultarProcesso.processos.length > 0").table-responsive
				table.table.table-striped.table-condensed.no-margin
					thead
						tr
							th.col-sm
							th.col-md-2.text-center Protocolo
							th.col-md-2.text-center Empreendimento
							th.col-md-2.text-center Município
							th.col-md-2.text-center Licença
							th.col-md-2.text-center Prazo análise
							th.col-md-2.text-center Prazo análise GEO
							th.col-md-2(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.ANALISTA_GEO").text-center Prazo análise técnica
							th.col-md-2.text-center Ações
					tbody
						tr(ng-repeat="processo in consultarProcesso.processos")
							td
								span(ng-class="{'icone-solicitacao-desvinculo-pendente': processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.SOLICITACAO_DESVINCULO_PENDENTE_ANALISE_GEO || processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.SOLICITACAO_DESVINCULO_PENDENTE_ANALISE_TECNICA}")
								span(ng-class="{'icone-solicitacao-finalizada': processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.AGUARDANDO_VALIDACAO_GEO_PELO_GERENTE}")
								span(ng-class="{'icone-revisao-atendida': processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.NOTIFICADO}")

							td(ng-attr-title="{{processo.numero}}").text-center {{processo.numero | textoTruncado : 4:3}}
							td.text-center {{processo.denominacaoEmpreendimento}}
							td.text-center {{processo.municipioEmpreendimento}}/{{processo.siglaEstadoEmpreendimento}}
							td.text-center {{processo.licencas}}

							td(ng-class="{'error-message': consultarProcesso.dateUtil.verificaPrazoMinimoData(processo.dataVencimentoPrazoAnalise, consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE)}").text-center
								| {{consultarProcesso.dateUtil.getContaDiasRestantesData(processo.dataVencimentoPrazoAnalise)}}

							td(ng-class="{'error-message': consultarProcesso.dateUtil.verificaPrazoMinimoData(processo.dataVencimentoPrazoAnaliseGeo, consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE_GEO)}").text-center
								| {{ consultarProcesso.getPrazoAnaliseGeo(processo) }}

							td(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil !== consultarProcesso.perfis.ANALISTA_GEO" ng-class="{'error-message': consultarProcesso.dateUtil.verificaPrazoMinimoData(processo.dataVencimentoPrazoAnaliseTecnica, consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE_GERENTE)}").text-center
								| -

							td
								span.pull-right

									.dropdown.action-table
										button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
											| Ações &nbsp;
											span.caret
										ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
											li
												a(ng-click="consultarProcesso.visualizarProcesso(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar protocolo
											li(ng-if="processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.AGUARDANDO_VALIDACAO_GEO_PELO_GERENTE")
												a(ng-click="consultarProcesso.downloadPDFparecer(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar parecer GEO
											li(ng-if="processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.AGUARDANDO_VALIDACAO_GEO_PELO_GERENTE")
												a(ng-click="consultarProcesso.downloadPDFCartaImagem(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar carta imagem
											li(ng-if="processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.NOTIFICADO")
												a(ng-click="consultarProcesso.visualizarNotificacao(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar notificação

				div(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil === consultarProcesso.perfis.ANALISTA_GEO")

					span.icone-solicitacao-desvinculo-pendente.legenda Solicitação Desvínculo Pendente
					span.icone-.icone-solicitacao-finalizada.legenda Análise GEO finalizada
					span.icone-revisao-atendida.legenda Notificado
					//- span.icone-solicitacao-ajustes.legenda Solicitação de ajustes

				div(ng-if="consultarProcesso.usuarioLogadoCodigoPerfil === consultarProcesso.perfis.GERENTE")

					span.icone-solicitacao-desvinculo-pendente.legenda Solicitação Desvínculo Pendente
					span.icone-.icone-solicitacao-finalizada.legenda Análise finalizada
					span.icone-revisao-atendida.legenda Notificado
					//- span.icone-solicitacao-ajustes.legenda Solicitação de ajustes
					

				+paginacao('consultarProcesso.paginacao', 'consultarProcesso.onPaginaAlterada')

		.row(ng-show="!consultarProcesso.processos || consultarProcesso.processos.length == 0")
			.col-md-12
				p.empty-result Não existem dados a serem exibidos.