include ../../layout/components/paginacao

div
	filtro-processos(paginacao="consultarProcesso.paginacao",
		disabled-fields="consultarProcesso.disabledFields",
		atualizar-lista="consultarProcesso.atualizarListaProcessos",
		atualizar-paginacao="consultarProcesso.atualizarPaginacao",
		pesquisar-ao-inicializar="true",
		is-analise-juridica="false",
		is-analise-tecnica="false",
		is-analise-geo="true",
		pesquisar-todas-gerencias="true",
		filtrar-por-usuario="true")

	h4 Lista de processos

	hr
	.row
		.col-md-12
			div(ng-if="consultarProcesso.processos && consultarProcesso.processos.length > 0").table-responsive
				table.table.table-striped.table-condensed.no-margin
					thead
						tr
							th
							th.col-md-1 Processo
							th.col-md-2 CPF/CNPJ
							th.col-md-2 Interessado
							th.col-md-2 Município
							th.col-md-2 Licenças
							th.col-md-1 Prazo análise
							th.col-md-1 Prazo análise GEO
							th.col-md-1.text-right Ações
					tbody
						tr(ng-repeat="processo in consultarProcesso.processos")
							td
								span(ng-class="{'icone-soliciacao-desvinculo-pendente': processo.idCondicaoTramitacao === consultarProcesso.legendaDesvinculo}")
								span(ng-class="{'icone-soliciacao-finalizada': processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.AGUARDANDO_VALIDACAO_GEO_PELO_GERENTE}")
								span(ng-class="{'icone-revisao-atendida': processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.NOTIFICADO}")
							td(ng-attr-title="{{processo.numero}}") {{processo.numero | textoTruncado : 4:3}}
							td {{processo.cpfEmpreendimento ? processo.cpfEmpreendimento : processo.cnpjEmpreendimento | brCpfCnpj}}
							td {{processo.denominacaoEmpreendimento}}
							td {{processo.municipioEmpreendimento}}/{{processo.siglaEstadoEmpreendimento}}
							td {{processo.licencas}}

							td(ng-class="{'error-message': consultarProcesso.dateUtil.verificaPrazoMinimo(processo.totalDiasAnalise ,consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE)}")
								| {{consultarProcesso.dateUtil.getContaDiasRestantes(processo.totalDiasAnalise, consultarProcesso.PrazoAnalise.ANALISE)}}

							td(ng-class="{'error-message': processo.dataConclusaoAnaliseGeo ? false : consultarProcesso.dateUtil.verificaPrazoMinimo(processo.diasAnaliseGeo, consultarProcesso.PrazoMinimoAvisoAnalise.ANALISE_GEO)}")
								| {{processo.dataConclusaoAnaliseGeo ? 'Concluída em ' + consultarProcesso.dateUtil.formatarData(processo.dataConclusaoAnaliseGeo) : consultarProcesso.dateUtil.getContaDiasRestantes(processo.diasAnaliseGeo, consultarProcesso.PrazoAnalise.ANALISE_GEO)}}
							td
								span.pull-right

									.dropdown.action-table
										button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
											| Ações &nbsp;
											span.caret
										ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
											li
												a(ng-click="consultarProcesso.visualizarProcesso(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar processo
											li(ng-if="processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.AGUARDANDO_VALIDACAO_GEO_PELO_GERENTE")
												a(ng-click="consultarProcesso.downloadPDFparecer(processo)")
													i.fa.fa-download
													span Baixar parecer GEO
											li(ng-if="processo.idCondicaoTramitacao === consultarProcesso.condicaoTramitacao.AGUARDANDO_VALIDACAO_GEO_PELO_GERENTE")
												a(ng-click="consultarProcesso.downloadPDFCartaImagem(processo)")
													i.fa.fa-download
													span Baixar carta imagem
				div

					span.icone-soliciacao-desvinculo-pendente.legenda Solicitação Desvínculo Pendente
					span.icone-soliciacao-finalizada.legenda Análise GEO finalizada
					span.icone-revisao-atendida.legenda Notificado		

				+paginacao('consultarProcesso.paginacao', 'consultarProcesso.onPaginaAlterada')

		.row(ng-show="!consultarProcesso.processos || consultarProcesso.processos.length == 0")
			.col-md-12
				p.empty-result Não existem dados a serem exibidos.