include ../../../layout/components/paginacao

div
	filtro-processos(paginacao="cxEntDiretor.paginacao",
		disabled-fields="cxEntDiretor.disabledFields",
		atualizar-lista="cxEntDiretor.atualizarListaProcessos",
		atualizar-paginacao="cxEntDiretor.atualizarPaginacao",
		condicao-tramitacao="cxEntDiretor.condicaoTramitacao",
		pesquisar-ao-inicializar="true",
		is-diretor="true")

	h4 Lista de protocolos

	hr
	.row
		.col-md-12
			div(ng-if="cxEntDiretor.processos && cxEntDiretor.processos.length > 0")
				table.table.table-striped.table-condensed.no-margin
					thead
						tr
							th
							th.col-md-1.text-center Protocolo
							th.col-md-2.text-center CPF/CNPJ
							th.col-md-3.text-center Empreendimento
							th.col-md-2.text-center Município
							th.col-md-1.text-center Licença
							th.col-md-2.text-center Prazo análise
							th.col-md-1.text-center Ações
					tbody
						tr(ng-repeat="processo in cxEntDiretor.processos")
							td
							td(ng-attr-title="{{processo.numero}}").text-center {{ processo.numero }}
							td.text-center {{processo.cpfEmpreendimento ? processo.cpfEmpreendimento : processo.cnpjEmpreendimento | brCpfCnpj}}
							td.text-center {{processo.denominacaoEmpreendimento}}
							td.text-center {{processo.municipioEmpreendimento}}/{{processo.siglaEstadoEmpreendimento}}
							td.text-center {{processo.licencas}}
							td(ng-class="{'error-message': cxEntDiretor.dateUtil.verificaPrazoMinimoData(cxEntDiretor.dateUtil.somaPrazoEmDias(processo.dataCadastroAnalise, cxEntDiretor.PrazoAnalise.ANALISE), cxEntDiretor.PrazoMinimoAvisoAnalise.ANALISE)}").text-center
								| {{ cxEntDiretor.dateUtil.getContaDiasRestantesData(cxEntDiretor.dateUtil.somaPrazoEmDias(processo.dataCadastroAnalise, cxEntDiretor.PrazoAnalise.ANALISE)) }}

							td
								span.pull-right

									.dropdown.action-table
										button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
											| Ações &nbsp;
											span.caret
										ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
											li

												a(ng-click="cxEntDiretor.iniciarAnaliseDiretor(processo.idAnalise)")
													i.glyphicon.glyphicon-ok-circle
													span Validar análise
											li
												a(ng-click="cxEntDiretor.visualizarProcesso(processo)")
													i.glyphicon.glyphicon-eye-open
													span Visualizar protocolo

				+paginacao('cxEntDiretor.paginacao', 'cxEntDiretor.onPaginaAlterada')

		.row(ng-show="!cxEntDiretor.processos || cxEntDiretor.processos.length == 0")
			.col-md-12
				p.empty-result Não existem dados a serem exibidos.