include ../../layout/components/mapPanel
include ../../layout/components/uploadField
include ../../layout/components/modalEspecificacaoUpload

mixin uploadShapes(idMapa)
	div(ng-controller="uploadShapesController as uploadShapes" ng-cloak)

		+modalEspecificacoesArquivo('modalEspecificacoesArquivo')

		div.us-container
			div.us-header
				h4.us-page-title Upload de camadas
				hr

				.us-process-info
					.row.col-md-6
						.row
							label.col-sm-4 Processo:
							span.col-sm-8 {{uploadShapes.processo ? uploadShapes.processo.numero : '-'}}
						.row
							label.col-sm-4 CPF/CNPJ:
							span.col-sm-8 {{uploadShapes.processo ? (uploadShapes.processo.empreendimento.pessoa.cpf ? uploadShapes.processo.empreendimento.pessoa.cpf : uploadShapes.processo.empreendimento.pessoa.cnpj ) : '-' | brCpfCnpj}}
						.row
							label.col-sm-4 Interessado:
							span.col-sm-8 {{uploadShapes.processo ? uploadShapes.processo.empreendimento.denominacao : '-'}}
						.row
							label.col-sm-4 Município:
							span.col-sm-8 {{uploadShapes.processo ? uploadShapes.processo.empreendimento.municipio.nome : '-'}} / {{uploadShapes.processo ? uploadShapes.processo.empreendimento.municipio.estado.codigo : '-'}}
				
				.row.col-md-12
					h5.us-map-title Localização das camadas
			
			div(ng-show="uploadShapes.doesntHasShapes")
				+mapPanel('emptyMap','400', true)

			div(ng-show="!uploadShapes.doesntHasShapes")
				+mapPanel(idMapa,'400', true)
			
			div.us-checkbox-area
				input(type='checkbox', 
					placeholder='Não possui nenhuma camada', 
					ng-model='uploadShapes.doesntHasShapes',
					id='naoPossuiShape') 
				label.us-checkbox-label(for="naoPossuiShape") Não possui nenhuma camada

			div.us-upload-container
				h2.tituloPagina.us-upload-top-title Arquivos anexados

				div(ng-show="!uploadShapes.doesntHasShapes")
					h3.us-upload-title Hidrografia
					div.us-upload-description
						i.fa.fa-info-circle.modal-open-icon(ng-click="uploadShapes.abrirModal()")
						a.modal-open-text.upload-especifications-text(ng-click="uploadShapes.abrirModal()")
							| Especificações do arquivo a ser enviado
					+uploadField("validacaoShapeController",
								"HID",
								'#2196F3',
								"Hidrografia",
								true,
								"{{uploadShapes.idMunicipio}}")
								//- TODO oisouothiago - ajustar como o parametro é enviado para o mixin

					h3.us-upload-title APP (Área de preservação permanente)
					div.us-upload-description
						i.fa.fa-info-circle.modal-open-icon(ng-click="uploadShapes.abrirModal()")
						a.modal-open-text.upload-especifications-text(ng-click="uploadShapes.abrirModal()")
							| Especificações do arquivo a ser enviado
					+uploadField("validacaoShapeController",
								"APP",
								'#8BC34A',
								"Área de preservação permanente",
								true,
								"{{uploadShapes.idMunicipio}}")

					h3.us-upload-title Área antropizada
					div.us-upload-description
						i.fa.fa-info-circle.modal-open-icon(ng-click="uploadShapes.abrirModal()")
						a.modal-open-text.upload-especifications-text(ng-click="uploadShapes.abrirModal()")
							| Especificações do arquivo a ser enviado
					+uploadField("validacaoShapeController",
								"AA",
								'#CDDC39',
								"Área antropizada",
								true,
								"{{uploadShapes.idMunicipio}}")

				div(ng-show="uploadShapes.doesntHasShapes")
					h3.us-upload-noupload O empreendimento  
						strong não 
						|  possui arquivos para anexar

			div.row.us-custom-row
				div.pull-left
					button.btn.btn-default(ng-click="uploadShapes.cancelaEnvio()")
						span.glyphicon.glyphicon-remove-sign
						| &nbsp;Cancelar
				div.pull-right
					button.btn.btn-default.btn-success(
													ng-click="uploadShapes.enviaShapes()", 
													ng-disabled="uploadShapes.shapesUploaded < 1 && !uploadShapes.doesntHasShapes")
						span.glyphicon.glyphicon-ok-sign
						| &nbsp;Continuar
		