doctype html
| %{
| processo = analiseTecnicaManejo.analiseTecnica.processoManejo.numeroProcesso;
| cpfCnpj = analiseTecnicaManejo.analiseTecnica.processoManejo.cpfCnpj;
| nomeRasaoSocial = analiseTecnicaManejo.analiseTecnica.processoManejo.denominacaoEmpreendimentoSimlam;
| municipio = analiseTecnicaManejo.analiseTecnica.processoManejo.nomeMunicipioSimlam;
| conclusao = analiseTecnicaManejo.analiseTecnica.conclusao;
| }%
html(lang='en')
  head
    title Análise - Manejo Digital - Pará
      link(rel='stylesheet' href='${templatePath}/style/estilo.css')
      meta(charset='UTF-8')
  body
    div.cabecalho
        div
            img.logo(src='/public/app/images/brasao_pa.png' height="139" width="186")
        div
            h3 GOVERNO DO ESTADO DO PARÁ
        div
            h4 Secretaria de Estado de Meio Ambiente e Sustentabilidade
    div
      p
        strong Processo Nº:
        |  ${processo.numero}
      p
        strong CPF / CNPJ:
        |  ${cpfCnpj}
      p
        strong Nome / Rasão Social:
        br
        | ${nomeRasaoSocial}
      p
        strong Município:
        br
        | ${municipio}

    div
      p
        strong Conclusão:
        br
        | ${conclusao}

