#etapa-conclusao
    div.col-md-5.pull-right.margin-right-xs.text-cloneParecer
        label.pull-left Informe o número do processo para clonar o parecer
        br
        div.pull-right.display-clone
            input.form-control.textArea-clone(type='text',name="numeroProcesso", ng-model="ctrl.numeroProcessoClone", ng-disabled = "ctrl.analiseGeo.inconsistencias.length > 0")
            button.btn.btn-default.tamanho-botaoClone(type="submit", name="clonar", ng-click="ctrl.clonarParecerGeo()", ng-disabled = "ctrl.analiseGeo.inconsistencias.length > 0")
                i.glyphicon.glyphicon-refresh.glyphicon--with-right-margin
                | Clonar paracer  
            
            

hr
h5 Análise GEO
div
#camposAnaliseGeo
    div
        label.label-parecer Da situação fundiária*:
        br
        summernote.campos-parecer(id="situacaoFundiaria",
                    on-paste="snPaste(evt)",
                    name="situacaoFundiaria",
                    lang="pt-BR",
                    height="200",
                    ng-model="ctrl.analiseGeo.situacaoFundiaria",
                    config="optionsText")

    div
        label.label-parecer Da análise temporal*:
        br
        summernote.campos-parecer(id="analiseTemporal",
                    on-paste="snPaste(evt)",
                    name="analiseTemporal",
                    lang="pt-BR",
                    height="200",
                    ng-model="ctrl.analiseGeo.analiseTemporal",
                    config="optionsText")

div
    label(style="font-size:13px") Conclusão*: 
    br
    summernote.form-control(id="conclusao",
                on-paste="snPaste(evt)",
                name="conclusao",
                lang="pt-BR",
                height="200",
                ng-model="ctrl.analiseGeo.parecer",
                config="optionsText",
                class="editable",
                contenteditable="true")

    div.btn.btn-default(style="margin-bottom:10px",type="file", name="arquivo", ngf-select="ctrl.upload($file, $invalidFile)", ngf-accept="'application/pdf,image/*'", ngf-pattern="'application/pdf,image/*'", ngf-max-size="{{ctrl.TAMANHO_MAXIMO_ARQUIVO_MB}}MB")
        i.glyphicon.glyphicon-open.glyphicon--with-right-margin
        | Anexar arquivo ao parecer

    table.table.table-condensed(ng-if="ctrl.analiseGeo.documentos.length > 0")

        thead

            tr
                th.col-md-10 Documento anexado
                th.col-md-2.text-right Ações

        tbody

            tr(ng-repeat="documento in ctrl.analiseGeo.documentos")

                td.col-md-10 {{documento.nomeDoArquivo}}
                td.col-md-2.text-right
                    a.d-inline.margin-right-xs(title="Baixar anexo", ng-click="ctrl.baixarDocumento(documento)")
                        i.glyphicon.glyphicon-save

                    a.d-inline.margin-right-xs(title="Remover anexo", ng-click="ctrl.removerDocumento($index. documento.id)")
                        i.glyphicon.glyphicon-trash
div
#conclusao
    hr
    label Análise final do processo*:
        div.pull-left.col-md-10.posicao-principal
            form.pull-left.posicao-conteudo
                label.opDla.radio-inline.posicao-primeiroItem
                    input(type='radio', name='analiseFinalRadio', ng-model='ctrl.analiseGeo.tipoResultadoAnalise.id', value="{{ctrl.TiposResultadoAnalise.DEFERIDO}}", ng-disabled='ctrl.analiseGeo.inconsistencias.length > 0')
                    | Deferido
                label.opDla.radio-inline
                    input(type='radio', name='analiseFinalRadio', ng-model='ctrl.analiseGeo.tipoResultadoAnalise.id', value="{{ctrl.TiposResultadoAnalise.INDEFERIDO}}",ng-disabled='ctrl.analiseGeo.inconsistencias.length > 0')
                    | Indeferido
                label.opDla.radio-inline
                    input(type='radio', name='analiseFinalRadio', ng-model='ctrl.analiseGeo.tipoResultadoAnalise.id', value="{{ctrl.TiposResultadoAnalise.EMITIR_NOTIFICACAO}}",ng-disabled='ctrl.analiseGeo.inconsistencias.length == 0')
                    | Emitir notificação
    hr
div#conclusao
    div(ng-if="ctrl.analiseGeo.tipoResultadoAnalise.id === ctrl.TiposResultadoAnalise.INDEFERIDO.toString()")
        label Justificativa*:
        br
        textarea.tamanho-obs(name="justificativa", ng-model="ctrl.analiseGeo.despacho")

    div(ng-if="ctrl.analiseGeo.tipoResultadoAnalise.id === ctrl.TiposResultadoAnalise.DEFERIDO.toString()")
        label Despacho*:
        br
        textarea.tamanho-obs(name="despacho", ng-model="ctrl.analiseGeo.despacho")

    div(ng-if="ctrl.analiseGeo.tipoResultadoAnalise.id === ctrl.TiposResultadoAnalise.EMITIR_NOTIFICACAO.toString()")
        #lista-restricoes
            #accordion.panel-group
                div
                    label Prazo para atendimento da notificação: 
                    select.prazo-dias(ng-model="ctrl.prazoNotificacao", name="prazo")
                        option(value="")
                        option(value="15") 15 dias
                        option(value="30") 30 dias
                        option(value="45") 45 dias
                        option(value="60") 60 dias
                br
                label Descrição da Solicitação*:
                br
                textarea.tamanho-obs(name="descricaoSolicitacao", ng-model="ctrl.analiseGeo.descricaoSolicitacao")