include ../../layout/components/mapPanel
#localizacaoGeografica
    .row
        .col-md-12

            h5 Localização do empreendimento

            +mapPanel-sidebar("mapa-localizacao-empreendimento",'400', true, 'ctrl')
            br
            #lista-camadas-empreendimento
                #accordion-empreendimento.panel-group
                    div
                        a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-empreendimento', aria-expanded='false', data-target='#meusDados', ng-init = 'ctrl.openedAccordionEmpreendimento = false', ng-click = 'ctrl.openedAccordionEmpreendimento = !ctrl.openedAccordionEmpreendimento' )
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        | Dados do empreendimento
                                        i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.openedAccordionEmpreendimento, 'glyphicon-chevron-right': !ctrl.openedAccordionEmpreendimento}")
                        #meusDados.collapse
                            table.table.table-striped.table-condensed.no-margin.table-responsive(style="border: 1px solid #d0cbcb;")
                                thead
                                    tr
                                        th.col-md-5 Item
                                        th.col-md-5 Área (ha)
                                        th.col-md-2.text-right Ações

                                tbody
                                    tr(ng-repeat='camada in ctrl.camadasDadosEmpreendimento')
                                        td.col-md-5 {{camada.item}}
                                        td.col-md-5 {{camada.descricao}}
                                        td.col-md-2.text-right
                                            i.glyphicon.glyphicon-alert(ng-class="{'temInconsistencia' : verificaInconsistenciaEmpreendimento() }", ng-if="camada.item.toUpperCase() === ctrl.categoria.PROPRIEDADE" , ng-click='addInconsistencia(ctrl.categoria.PROPRIEDADE)', title='Adicionar inconsistência', )
                                            | &nbsp;&nbsp;

            br
            #lista-camadas-atividades
                #accordion-atividades.panel-group
                    h5(style="margin-bottom:0px") Dados da área do projeto
                    br
                    hr(style="margin-top:2px;")
                    div(ng-repeat="camadaDadosAtividade in ctrl.camadasDadosAtividade")
                        a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-atividades',aria-expanded='false', data-target='#dadosAreaProjeto', ng-init = 'ctrl.openedAccordion = false', ng-click = 'ctrl.openedAccordion = !ctrl.openedAccordion')
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        | Atividade: {{camadaDadosAtividade.atividadeCaracterizacao.atividade.nome.toUpperCase()}}
                                        i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.openedAccordion, 'glyphicon-chevron-right': !ctrl.openedAccordion}")

                        #dadosAreaProjeto.collapse
                            table.table.table-striped.table-condensed.no-margin.table-responsive(style="border: 1px solid #d0cbcb;")
                                thead
                                    tr
                                        th.col-md-4 Item
                                        th.col-md-5 Declarado
                                        th.col-md-1.text-right Ações

                                tbody(ng-repeat="camadaGeo in camadaDadosAtividade.camadasGeo")
                                    tr
                                        td.col-md-5 {{camadaGeo.item}}
                                        td.col-md-5 {{camadaGeo.descricao}}
                                        td.col-md-2.text-right
                                            i.glyphicon.glyphicon-alert(ng-class="{'temInconsistencia' : verificaInconsistenciaAtividade(ctrl.categoria.ATIVIDADE,camadaDadosAtividade.atividadeCaracterizacao.id,camadaGeo.geometriaAtividade.id)}", 
                                                                        ng-click='addInconsistenciaAtividade(ctrl.categoria.ATIVIDADE, camadaDadosAtividade.atividadeCaracterizacao.id, camadaGeo.geometriaAtividade.id)', title='Adicionar inconsistência')
                                                | &nbsp;

                            br
                            div(ng-if="camadaDadosAtividade.restricoes.length > 0")
                                label Áreas de restrição da atividade

                                table.table.table-striped.table-condensed.no-margin.table-responsive(style="border: 1px solid #d0cbcb;")
                                    thead
                                        tr
                                         th.col-md-4 Item
                                         th.col-md-5 Descrição
                                         th.col-md-1.text-right Ações

                                    tbody(ng-repeat="restricao in camadaDadosAtividade.restricoes")
                                        tr(ng-repeat="orgao in restricao.sobreposicaoCaracterizacaoAtividade.tipoSobreposicao.orgaosResponsaveis")
                                            td.col-md-5 {{restricao.item}} 
                                            td.col-md-5 {{restricao.descricao}} 
                                            td.col-md-2.text-right
                                                i.glyphicon.glyphicon-exclamation-sign(title='Sobreposição encontrada. Adicione uma inconsistência e notifique ao interessado para que procure o órgao {{orgao.sigla.toUpperCase()}}', 

                                                                                        ng-if="orgao.sigla.toUpperCase() === ctrl.orgaos.IPHAN || orgao.sigla.toUpperCase() === ctrl.orgaos.IBAMA",

                                                                                        ng-click="addInconsistenciaRestricao(ctrl.categoria.RESTRICAO, camadaDadosAtividade.atividadeCaracterizacao.id, restricao.sobreposicaoCaracterizacaoAtividade.id)",

                                                                                        ng-class="{'temInconsistencia' : verificaInconsistenciaRestricao(ctrl.categoria.RESTRICAO,camadaDadosAtividade.atividadeCaracterizacao.id,restricao.sobreposicaoCaracterizacaoAtividade.id)}")
                                                |&nbsp;
                                                i.glyphicon.glyphicon-envelope(title='O órgão {{orgao.sigla.toUpperCase()}} será comunicado sobre a restrição {{restricao.item.toUpperCase()}}', 

                                                                                ng-if="orgao.sigla.toUpperCase() !== ctrl.orgaos.IPHAN && orgao.sigla.toUpperCase() !== ctrl.orgaos.IBAMA")
                                                |&nbsp;

