div.modal-header

    button.close(type='button', ng-click="modalCtrl.fechar()")
        span(aria-hidden='true') ×
        span.sr-only Fechar

    h4.modal-title {{ modalCtrl.isEdicao ? 'Editar' : 'Adicionar' }} inconsistência
    div(growl inline="true" reference='5')

div.modal-body

    div.area-modal
        label.label-modal.obrigatorio Categoria da inconsistência:
        select.form-control(ng-class="{'error': modalCtrl.errors.categoria === true}", ng-model="modalCtrl.categoriaInconsistencia", name="selectCategoriaInconsistencia", ng-disabled="modalCtrl.habilitaExcluir")
            option(value="") Selecione o a categoria da inconsistência
            option(ng-if="modalCtrl.verificaInconsistenciaCategoria(modalCtrl.dadosProjeto.categoria)", value="{{ modalCtrl.dadosProjeto.categoria }}") {{ modalCtrl.categoriaProjeto }}
            option(ng-if="modalCtrl.hasRestricoes() || modalCtrl.isEdicao" value="RESTRICAO") Restrição

    div.area-modal(ng-if="modalCtrl.categoriaInconsistencia === modalCtrl.tiposInconsistencia.ATIVIDADE")
        label.label-modal.obrigatorio Item da Atividade:
        select.form-control(ng-class="{'error': modalCtrl.errors.atividade === true}", ng-model="modalCtrl.idAtividadeCaracterizacao", name="selectItemAtividade", ng-if="!modalCtrl.habilitaExcluir",
                ng-options="atividade.atividadeCaracterizacao.id as atividade.atividadeCaracterizacao.atividade.nome for atividade in modalCtrl.getAtividadesSemInconsistencia() track by atividade.atividadeCaracterizacao.id")
            option(value="") Selecione o item da Atividade
        br(ng-if="modalCtrl.habilitaExcluir")
        span.span-modal(ng-if="modalCtrl.habilitaExcluir") {{ modalCtrl.getItemAtividade(modalCtrl.idAtividadeCaracterizacao) }}

    div.area-modal(ng-if="modalCtrl.categoriaInconsistencia === modalCtrl.tiposInconsistencia.RESTRICAO")
        label.label-modal.obrigatorio Item da Restrição:
        select.form-control(ng-class="{'error': modalCtrl.errors.item === true}",ng-model="modalCtrl.idSobreposicao", name="selectItemRestricao", ng-if="!modalCtrl.habilitaExcluir",
                ng-options="restricao.sobreposicao.id as restricao.item for restricao in modalCtrl.getRestricoesSemInconsistencia() track by restricao.sobreposicao.id")
            option(value="") Selecione o item da Restrição
        br(ng-if="modalCtrl.habilitaExcluir")
        span.span-modal(ng-if="modalCtrl.habilitaExcluir") {{ modalCtrl.getItemRestricao(modalCtrl.idSobreposicao) }}

    div.area-modal
        label.label-modal.obrigatorio Descrição da inconsistência:
        br
        textarea.textarea-modal(name="descricaoInconsistência",ng-class="{'error': modalCtrl.errors.descricao === true}", ng-model="modalCtrl.descricaoInconsistencia")

    div.area-modal
        label.label-modal.obrigatorio Tipo da inconsistência:
        br
        textarea.textarea-modal(name="tipoInconsistência",ng-class="{'error': modalCtrl.errors.tipo === true}", ng-model="modalCtrl.tipoInconsistencia")

    div.button-upload-modal.btn.btn-default(style=" margin-bottom:5px;",type="file", name="arquivo", ngf-select="modalCtrl.upload($file, $invalidFile)", ngf-accept="'application/pdf,image/*'", ngf-pattern="'application/pdf,image/*'", ngf-max-size="{{ctrl.TAMANHO_MAXIMO_ARQUIVO_MB}}MB")
        i.glyphicon.glyphicon-open.glyphicon--with-right-margin
        | Anexar arquivo na inconsistência

    table.area-modal.table.table-condensed(ng-if="modalCtrl.anexos.length > 0")

        thead

            tr
                th.col-md-10 Arquivo anexado
                th.col-md-2.text-right Ações

        tbody

            tr(ng-model="modalCtrl.anexo",ng-repeat="anexo in modalCtrl.anexos")

                td.col-md-10 {{anexo.nomeDoArquivo}}
                td.col-md-2.text-right
                    a.d-inline.margin-right-xs(style='cursor: pointer;',title="Visualizar anexo", ng-click="modalCtrl.baixarDocumentoInconsistencia(anexo)")
                        i.glyphicon.glyphicon-eye-open

                    a.d-inline.margin-right-xs(style='cursor: pointer;')
                        i.glyphicon.glyphicon-trash(title='Remover anexo',
                                                    ng-bootbox-title='Confirmação',
                                                    ng-bootbox-confirm='Deseja realmente remover este anexo ?',
                                                    ng-bootbox-confirm-action="modalCtrl.removerDocumento($index,anexo.id)")

div.modal-footer

    button.btn.btn-default.pull-left(ng-click="modalCtrl.fechar()")
        i.glyphicon.glyphicon-arrow-left
        | &nbsp;Cancelar
    
    button.btn.btn-success.pull-right(ng-click="modalCtrl.concluir()")
        i.glyphicon.glyphicon-arrow-right
        | &nbsp;Confirmar

    //- button.btn.btn-default.pull-right(ng-disabled = "!modalCtrl.habilitaExcluir", ng-bootbox-title='Confirmação', ng-bootbox-custom-dialog='Deseja realmente excluir esta inconsistência ?', ng-bootbox-buttons='modalCtrl.customDialogButtons')
    //-     i.glyphicon.glyphicon-trash
    //-     | &nbsp;Excluir
