doctype html
| %{
| processoManejo = analiseTecnicaManejo.processoManejo;
| imovelManejo = analiseTecnicaManejo.processoManejo.empreendimento.imovel;
| basesVetoriais = analiseTecnicaManejo.basesVetorial;
| analisesVetoriais = analiseTecnicaManejo.analisesVetorial;
| analisesNdfi = analiseTecnicaManejo.analisesNdfi;
| vinculosInsumos = analiseTecnicaManejo.vinculosInsumosOrdenados;
| vinculosConsideracoes = analiseTecnicaManejo.vinculosConsideracoesOrdenados;
| vinculosEmbasamentos = analiseTecnicaManejo.vinculosEmbasamentosOrdenados;
| }%

html(lang='en')
	head
		title Análise - Licenciamento Ambiental - Pará
			link(rel='stylesheet' href='${templatePath}/style/estilo.css')
			meta(charset='UTF-8')

	body
		div.header
			div.header-item-medium
				h4 Secretaria de Meio Ambiente e Sustentabilidade
			div.header-item-small-padding
				center
					img.logo(src='/public/app/images/brasao_pa.png' height="63" width="83")
			div.header-item-large
				h3 LAUDO TÉCNICO DE APAT
			div.header-item-small
				center
					img.logo(src='/public/app/images/logo_digeo.png' height="73" width="93")

	div.div-centro(style="page-break-before: avoid;")
		table(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead(style="page-break-before: avoid;")
				tr
					th.titulo-tabela(colspan="12") Informações gerais do processo
			tbody
				tr(style="page-break-before: avoid;")
					td(colspan="1")
						strong Nome:
					td(colspan="11")
						| ${processoManejo.empreendimento.denominacao ? processoManejo.empreendimento.denominacao : "-"}
				tr
					td(colspan="1")
						strong Tipologia do licenciamento:
					td(colspan="11")
						| ${processoManejo.tipoLicenca.nome ? processoManejo.tipoLicenca.nome : "-"}
				tr
					td(colspan="1")
						strong Descrição de acesso:
					td(colspan="5") ${imovelManejo.descricaoAcesso ? imovelManejo.descricaoAcesso : "-"}
				tr
					td(colspan="1")
						strong Município:
					td(colspan="11")
						| ${imovelManejo.municipio.nome ? imovelManejo.municipio.nome : "-"}

	div
		p
			| O presente Laudo Técnico tem como objetivo demonstrar o resultado da análise da Área de Manejo Florestal, para subsidiar a decisão sobre a emissão da Autorização Previa á Analise Técnica de Plano de Manejo Florestal Sustentável – APAT

	div
		p
			strong 1 - Dados do imóvel.

	div.div-centro(style="page-break-before: avoid;")
		table(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead(style="page-break-before: avoid;")
				tr
					th.titulo-tabela(colspan="12") Informações declaradas no car
			tbody
				tr(style="page-break-before: avoid;")
					td(colspan="2")
						strong Registro no CAR
					td.coluna-valor(colspan="10")
						| ${imovelManejo.registroCar ? imovelManejo.registroCar : "-"}
				tr
					td(colspan="2")
						strong Status
					td.coluna-valor(colspan="10")
						| ${imovelManejo.status ? imovelManejo.status : "-"}
				tr
					td(colspan="2")
						strong Área total do imóvel documental
					td.coluna-valor(colspan="10")
						| ${ imovelManejo.areaTotalImovelDocumentado ? new java.text.DecimalFormat("##########.####").format(imovelManejo.areaTotalImovelDocumentado) : "-"}
				tr
					td(colspan="2")
						strong Área líquida do imóvel
					td.coluna-valor(colspan="10")
						| ${imovelManejo.areaLiquidaImovel ? new java.text.DecimalFormat("##########.####").format(imovelManejo.areaLiquidaImovel) : "-"}
				tr
					td(colspan="2")
						strong Reserva legal - RL
					td.coluna-valor(colspan="10")
						| ${imovelManejo.areaReservaLegal ? new java.text.DecimalFormat("##########.####").format(imovelManejo.areaReservaLegal) : "-"}
				tr
					td(colspan="2")
						strong Área de preservação permanente - APP
					td.coluna-valor(colspan="10")
						| ${imovelManejo.areaPreservacaoPermanente ? new java.text.DecimalFormat("##########.####").format(imovelManejo.areaPreservacaoPermanente) : "-"}
				tr
					td(colspan="2")
						strong Remanescente de vegetação nativa
					td.coluna-valor(colspan="10")
						| ${imovelManejo.areaRemanescenteVegetacaoNativa ? new java.text.DecimalFormat("##########.####").format(imovelManejo.areaRemanescenteVegetacaoNativa) : "-"}
				tr
					td(colspan="2")
						strong Corpos d'água
					td.coluna-valor(colspan="10")
						| ${imovelManejo.areaCorposAgua ? new java.text.DecimalFormat("##########.####").format(imovelManejo.areaCorposAgua) : "-"}
				tr
					td(colspan="2")
						strong Área de uso consolidado
					td.coluna-valor(colspan="10")
						| ${imovelManejo.areaUsoConsolidado ? new java.text.DecimalFormat("##########.####").format(imovelManejo.areaUsoConsolidado) : "-"}


	| \#{if analiseTecnicaManejo.observacoes}
	| \#{list analiseTecnicaManejo.observacoes, as:'observacao'}
	| \#{if observacao.passoAnalise.id == 0}
	div
		p
			strong Observações.
	div.div-list
		p ${ observacao.texto }
	| \#{/if}
	| \#{/list}
	| \#{/if}

	div
		p OBS: P limite de sobreposição de imóveis rurais possui tolerância aceitável pelo sistema de 5% conforme (IN 14/2011 e decreto 216/2011).
	div.div-list
		p
			strong 1.1. Segue no anexo 1 o termo de Delimitação da área de reserva legal aprovada para fins de averbação cartorial.
		p
			strong 1.2. Segue no anexo 2 o termo de ajustamento da conduta - TAC com as coordenadas do passivo a ser regularizado, de acordo com a análise cadastro ambiental rual.
	div
		p
			strong 2 - Dados analisados da AMF pelo GEOTEC.

		p.div-list   Nesta seção é apresentada as etapas de avaliação da AMF realizada através de técnica de geoprocessamento e informações obtidas em imagens de satélite, de modo a comprovar a existência de cobertura florestal e a situação ambiental da área.

	div
		p
			strong 2.1 - Metadados da base vetorial oficial utilizada.
		p.div-list   A tabela abaixo apresenta os metadados dos dados oficiais utilizados na avaliação da AMF.

	div.div-centro(style="page-break-before: avoid;")
		table.tabela(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead(style="page-break-before: avoid;")
				tr
					th.titulo-tabela Dados oficiais
					th.titulo-tabela Fonte
					th.titulo-tabela Última atualização
					th.titulo-tabela OBS
			tbody(style="page-break-before: avoid;")
				| \#{list basesVetoriais, as:'baseVetorial'}
				| \#{if baseVetorial.exibirPDF}
				tr(style="page-break-before: avoid;")
					td ${baseVetorial.nome ? baseVetorial.nome : "-"}
					td ${baseVetorial.fonte ? baseVetorial.fonte : "-"}
					td ${baseVetorial.ultimaAtualizacao ? new java.text.SimpleDateFormat("dd/MM/yyyy").format(baseVetorial.ultimaAtualizacao) : "-"}
					td ${baseVetorial.observacao ? baseVetorial.observacao : "-"}
				| \#{/if}
				| \#{/list}

	| \#{if analiseTecnicaManejo.observacoes}
	| \#{list analiseTecnicaManejo.observacoes, as:'observacao'}
	| \#{if observacao.passoAnalise.id == 1}
	div
		p
			strong Observações.
	div.div-list
		p ${ observacao.texto }
	| \#{/if}
	| \#{/list}
	| \#{/if}


	div
		p
			strong 3 - Analise vetorial sobre a base de dados oficiais.
	div.div-list
		p A tabela abaixo apresenta a descrição da distância e sobreposições extraídas na avaliação das sobreposições com os dados oficiais. As cartas imagens referentes a estas análises são apresentadas no anexo 3.

	div.div-centro(style="page-break-before: avoid;")
		table.tabela(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead(style="page-break-before: avoid;")
				tr
					th.titulo-tabela(colspan="2") Vetores
					th.titulo-tabela.coluna-dupla-divisao(colspan="2") Propriedade
					th.titulo-tabela.coluna-dupla-divisao(colspan="2") AMF
				tr(style="page-break-before: avoid;")
					th.titulo-tabela Tipo
					th.titulo-tabela Nome
					th.titulo-tabela.coluna-dupla-divisao Distância (km)
					th.titulo-tabela Sobreposição (ha)
					th.titulo-tabela.coluna-dupla-divisao Distância (km)
					th.titulo-tabela Sobreposição (ha)
			tbody
				| \#{list analisesVetoriais, as:'analiseVetorial'}
				| \#{if analiseVetorial.exibirPDF}
				tr(style="page-break-before: avoid;")
					td(style="page-break-before: avoid;") ${analiseVetorial.tipo ? analiseVetorial.tipo : "-"}
					td ${analiseVetorial.nome ? analiseVetorial.nome : "-"}
					td ${ analiseVetorial.distanciaPropriedade ? new java.text.DecimalFormat("##########.####").format(analiseVetorial.distanciaPropriedade) : "-"}
					td ${ analiseVetorial.sobreposicaoPropriedade ? new java.text.DecimalFormat("##########.####").format(analiseVetorial.sobreposicaoPropriedade) : "-"}
					td ${ analiseVetorial.distanciaAmf ? new java.text.DecimalFormat("##########.####").format(analiseVetorial.distanciaAmf) : "-"}
					td ${ analiseVetorial.sobreposicaoAmf ? new java.text.DecimalFormat("##########.####").format(analiseVetorial.sobreposicaoAmf) : "-"}
				| \#{/if}
				| \#{/list}

	| \#{if analiseTecnicaManejo.observacoes}
	| \#{list analiseTecnicaManejo.observacoes, as:'observacao'}
	| \#{if observacao.passoAnalise.id == 2}
	div
		p
			strong Observações.
	div.div-list
		p ${ observacao.texto }
	| \#{/if}
	| \#{/list}
	| \#{/if}

	div
		p
			strong 4 - Analise temporal de imagens de satélite
	div.div-list
		p Para comprovação da existência de cobertura florestal e verificação da não ocorrência de áreas com exploração florestal, foi realizada através de análise de imagens de satélite, referente aos ultimos 24 anos. Esta análise está baseada na determinação do índice Normalizado de Diferença de fração - NDFI, cujo objetivo medir as alterações na cobertura vegetal e no solo, conforme determina a IN 05 de 10/09/2015.

	| \#{if analiseTecnicaManejo.observacoes}
	| \#{list analiseTecnicaManejo.observacoes, as:'observacao'}
	| \#{if observacao.passoAnalise.id == 3}
	div
		p
			strong Observações.
	div.div-list
		p ${ observacao.texto }
	| \#{/if}
	| \#{/list}
	| \#{/if}

	div
		p
			strong 5 - Insumos utilizados para análise temporal.
	div.div-list
		p Para elaboração deste laudo técnico foi realizada a análise multitemporal de imagens de satélites, referente aos últimos 24 anos, onde foram verificadas as feições da cobertura do solo dentro da área de manejo florestal – AMF. As informações das imagens de satélites utilizados são descritas na tabela abaixo:

	div.div-centro(style="page-break-before: avoid;")
		table.tabela(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead(style="page-break-before: avoid;")
				tr
					th.titulo-tabela Ano da imagem
					th.titulo-tabela Satélite
					th.titulo-tabela Órbita/Ponto
					th.titulo-tabela Data
			tbody(style="page-break-before: avoid;")
				| \#{list vinculosInsumos, as:'vinculoInsumos'}
				| \#{if vinculoInsumos.exibirPDF}
				tr(style="page-break-before: avoid;")
					td ${ vinculoInsumos.insumo.ano ? vinculoInsumos.insumo.ano : "-"}
					td ${ vinculoInsumos.insumo.satelite ? vinculoInsumos.insumo.satelite : "-"}
					td ${ vinculoInsumos.insumo.orbPonto ? vinculoInsumos.insumo.orbPonto : "-"}
					td ${ vinculoInsumos.insumo.data ? new java.text.SimpleDateFormat("dd/MM/yyyy").format(vinculoInsumos.insumo.data) : "-"}
				| \#{/if}
				| \#{/list}



	| \#{if analiseTecnicaManejo.observacoes}
	| \#{list analiseTecnicaManejo.observacoes, as:'observacao'}
	| \#{if observacao.passoAnalise.id == 4}
	div
		p
			strong Observações.
	div.div-list
		p ${ observacao.texto }
	| \#{/if}
	| \#{/list}
	| \#{/if}

	div
		p
			strong 6 - Cálculo do NDFI.
	div.div-list
		p A seguir são apresentados os resultados das análises de áreas com intervenção, identificadas por meio do índice normalizado da diferença de fração - NDFI, de acordo com a Portaria N 063/2014-GAB/SEMA de 15/01/2014. Os mapas com os resultados da análise, são apresentados no anexo 4.

	div.div-centro(style="page-break-before: avoid;")
		table.tabela(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead(style="page-break-before: avoid;")
				tr
					th.titulo-tabela.text-center(colspan="6") Tabela Resumo Analise NDFI
				tr(style="page-break-before: avoid;")
					th.titulo-tabela Data
					th.titulo-tabela Órbita/Ponto
					th.titulo-tabela Satélite
					th.titulo-tabela Nível de exploração
					th.titulo-tabela Valor do NDFI
					th.titulo-tabela Área (ha)
			tbody(style="page-break-before: avoid;")
				| \#{list analisesNdfi, as:'analiseNdfi'}
				| \#{if analiseNdfi.exibirPDF}
				tr(style="page-break-before: avoid;")
					td ${ analiseNdfi.dataAnalise ? new java.text.SimpleDateFormat("dd/MM/yyyy").format(analiseNdfi.dataAnalise) : "-"}
					td ${ analiseNdfi.orbita + '/' + analiseNdfi.ponto ? analiseNdfi.orbita : "-" }
					td ${ analiseNdfi.satelite ? analiseNdfi.satelite : "-"}
					td ${ analiseNdfi.nivelExploracao ? analiseNdfi.nivelExploracao : "-"}
					td.coluna-valor ${ analiseNdfi.valor ? new java.text.DecimalFormat("##########.####").format(analiseNdfi.area) : "-"}
					td.coluna-valor ${ analiseNdfi.area ? new java.text.DecimalFormat("##########.####").format(analiseNdfi.area) : "-"}
				| \#{/if}
				| \#{/list}

	| \#{if analiseTecnicaManejo.observacoes}
	| \#{list analiseTecnicaManejo.observacoes, as:'observacao'}
	| \#{if observacao.passoAnalise.id == 5}
	div
		p
			strong Observações.
	div.div-list
		p ${ observacao.texto }
	| \#{/if}
	| \#{/list}
	| \#{/if}

	div
		p
			strong 7 - Cálculo da área efetiva de manejo.
	div.div-list
		p A Tabela a seguir, apresenta a área total de Manejo Florestal solicitada para análise, e a área efetiva a ser explorada (área liquida), após desconto das áreas sem permissão para exploração.

	div.div-tabela.div-centro(style="page-break-before: avoid;")
		table.tabela(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead
				tr
					th.linha-destaque(colspan="5")
						strong Área de manejo florestal solicitada - AMF (hectares)
					th.linha-destaque
						strong ${ analiseTecnicaManejo.areaManejoFlorestalSolicitada ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaManejoFlorestalSolicitada) : "-"}


	div.div-centro(style="page-break-before: avoid;")
		table.tabela(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead(style="page-break-before: avoid;")
				tr
					th.titulo-tabela.text-center(colspan="6") Área descontadas da AMF (hectares)
			tbody(style="page-break-before: avoid;")
				tr(style="page-break-before: avoid;")
					td(colspan="5")
						strong Área de preservação permanente - APP
					td(colspan="1") ${ analiseTecnicaManejo.areaPreservacaoPermanente ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaPreservacaoPermanente) : "-"}
				tr
					td(colspan="5")
						strong Área de servidão
					td(colspan="1") ${ analiseTecnicaManejo.areaServidao ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaServidao) : "-"}
				tr
					td(colspan="5")
						strong Área antopropizada não consolidada
					td(colspan="1") ${ analiseTecnicaManejo.areaAntropizadaNaoConsolidada ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaAntropizadaNaoConsolidada) : "-"}
				tr
					td(colspan="5")
						strong Área consolidada
					td(colspan="1") ${ analiseTecnicaManejo.areaConsolidada ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaConsolidada) : "-"}
				tr
					td(colspan="5")
						strong Uso restrito
					td(colspan="1") ${ analiseTecnicaManejo.areaUsoRestrito ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaUsoRestrito) : "-"}
				tr
					td(colspan="5")
						strong Área sem potencial (Cipoalica, Rochoso e etc.)
					td(colspan="1") ${ analiseTecnicaManejo.areaSemPotencial ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaSemPotencial) : "-"}
				tr
					td(colspan="5")
						strong Corpo d'água
					td(colspan="1") ${ analiseTecnicaManejo.areaCorposAgua ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaCorposAgua) : "-"}
				tr
					td(colspan="5")
						strong Área embargada IBAMA
					td(colspan="1") ${ analiseTecnicaManejo.areaEmbargadaIbama ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaEmbargadaIbama) : "-"}
				tr
					td(colspan="5")
						strong Área embargada LDI
					td(colspan="1") ${ analiseTecnicaManejo.areaEmbargadaLdi ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaEmbargadaLdi) : "-"}
				tr
					td(colspan="5")
						strong Exploração seletiva - NDFI (Índice Alto/Reentrada)
					td(colspan="1") ${ analiseTecnicaManejo.areaSeletivaNdfi ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaSeletivaNdfi) : "-"}
				tr
					td.linha-destaque(colspan="5")
						strong Área de efetivo manejo - AMF
					td.linha-destaque(colspan="1") ${ analiseTecnicaManejo.areaEfetivoNdfi ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaEfetivoNdfi) : "-"}

	| \#{if analiseTecnicaManejo.observacoes}
	| \#{list analiseTecnicaManejo.observacoes, as:'observacao'}
	| \#{if observacao.passoAnalise.id == 6}
	div
		p
			strong Observações.
	div.div-list
		p ${ observacao.texto }
	| \#{/if}
	| \#{/list}
	| \#{/if}


	div
		p
			strong 8 - Detalhamento da área efetiva de manejo.
	div.div-list
		p A seguir são apresentadas as áreas efetivas de manejo, detalhada pelo nivel prévio de exploração.

	div.div-centro(style="page-break-before: avoid;")
		table.tabela(width="80%" align="center" border="1" cellspacing="0" cellpadding="3")
			thead(style="page-break-before: avoid;")
				tr
					th.titulo-tabela.text-center(colspan="6") Resultados (hectares)
			tbody(style="page-break-before: avoid;")
				tr(style="page-break-before: avoid;")
					td(colspan="5")
						strong Área com exploração NDFI (Baixo)
					td(colspan="1") ${ analiseTecnicaManejo.areaExploracaoNdfiBaixo ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaExploracaoNdfiBaixo) : "-"}
				tr
					td(colspan="5")
						strong Área com exploração NDFI (Médio)
					td(colspan="1") ${ analiseTecnicaManejo.areaExploracaoNdfiMedio ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaExploracaoNdfiMedio) : "-"}
				tr
					td(colspan="5")
						strong Área sem previa exploração
					td(colspan="1") ${ analiseTecnicaManejo.areaSemPreviaExploracao ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaSemPreviaExploracao) : "-"}
				tr
					td.linha-destaque(colspan="5")
						strong Área de efetivo manejo - AMF
					td.linha-destaque(colspan="1") ${ analiseTecnicaManejo.areaEfetivoNdfi ? new java.text.DecimalFormat("##########.####").format(analiseTecnicaManejo.areaEfetivoNdfi) : "-"}

	| \#{if analiseTecnicaManejo.observacoes}
	| \#{list analiseTecnicaManejo.observacoes, as:'observacao'}
	| \#{if observacao.passoAnalise.id == 7}
	div
		p
			strong Observações.
	div.div-list
		p ${ observacao.texto }
	| \#{/if}
	| \#{/list}
	| \#{/if}

	div
		p
			strong 9 - Considerações:

	div.div-list
			| \#{list vinculosConsideracoes, as:'vinculo'}
			| \#{if vinculo.exibirPDF}
			p
				strong ${ vinculo.consideracao.texto }
			| \#{/if}
			| \#{/list}
	div
		p
			strong 10 - Embasamentos legais
	div.div-list
		| \#{list vinculosEmbasamentos, as:'vinculo'}
		| \#{if vinculo.exibirPDF}
		p
			strong ${ vinculo.embasamentoLegal.texto }
		| \#{/if}
		| \#{/list}

	div
		p
			strong 11 - Conclusão

	div.div-list
		p Do ponto de vista estritamente do Geoprocessamento, consideramos a AMF APTA para apresentação de PMFS, encaminhando para prosseguimento das demais análises, devendo ser levado em consideração as informações supracitadas.
		p ${ analiseTecnicaManejo.conclusao }

	div
		| \#{if arquivosComplementares.size() > 0}
		p
			strong Anexos
		| \#{list arquivosComplementares, as:'arquivo'}
		div.nao-quebra
			p
				strong ${ arquivo.nomeSemExtensao }
			center
				img(src='${arquivo.getFile().getPath()}', width="600")
		| \#{/list}
		| \#{/if}