div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === analiseEmAndamentoListagem.perfis.ANALISTA_TECNICO",
    ng-controller='analiseEmAndamentoTecnicaListController as listagem')
    include analistaTecnico/analise-em-andamento-listagem

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === analiseEmAndamentoListagem.perfis.ANALISTA_GEO",
    ng-controller='analiseEmAndamentoGeoListController as listagem')
    include analistaGeo/analise-em-andamento-listagem

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === analiseEmAndamentoListagem.perfis.COORDENADOR",
    ng-controller='analiseEmAndamentoCoordenadorListController as listagem')
    include coordenador/analise-em-andamento-listagem

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === analiseEmAndamentoListagem.perfis.DIRETOR",
    ng-controller='analiseEmAndamentoDiretorListController as listagem')
    include diretorTecnico/analise-em-andamento-listagem

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === analiseEmAndamentoListagem.perfis.SECRETARIO",
    ng-controller='analiseEmAndamentoSecretarioListController as listagem')
    include secretario/analise-em-andamento-listagem