doctype html
| %{
| responsaveis = analiseArea == "ANALISE_JURIDICA" ? analiseEspecifica.consultoresJuridicos : analiseEspecifica.analistasTecnicos
| }%
html(lang='en')
  head
    title Análise - Licenciamento Ambiental - Amazonas
    link(rel='stylesheet' href='${templatePath}/style/estilo.css')
    meta(charset='UTF-8')

  body
    div.cabecalho
      div
          img.logo(src='/public/app/images/logo_governo_am.png' height="127" width="352")
      div
          h3 PARECER TÉCNICO Nº ${analiseEspecifica.analise.processo.numero}
      div
          h4 SECRETARIA DE MEIO AMBIENTE E SUSTENTABILIDADE - SEMAS/PA
    div
      p
      | \#{if analiseArea == "ANALISE_JURIDICA"}
      | PARECER JURÍDICO referente ao processo abaixo:
      | \#{/if}
      | \#{else}
      | PARECER TÉCNICO referente ao processo abaixo:
      | \#{/else}

      p
        | PROCESSO
      p
        | Número:
        b  ${analiseEspecifica.analise.processo.numero}
      p
        | \#{if responsaveis.size() > 1}
        |   \#{if analiseArea == "ANALISE_JURIDICA"}
        |     Consultores jurídicos:
        |   \#{/if}
        |   \#{else}
        |     Analistas técnicos:
        |   \#{/else}
        | \#{/if}
        | \#{else}
        |   \#{if analiseArea == "ANALISE_JURIDICA"}
        |     Consultor jurídico:
        |   \#{/if}
        |   \#{else}
        |     Analista técnico:
        |   \#{/else}
        | \#{/else}

      ul
        | \#{list items:responsaveis, as:'responsavel' }
        li
          | ${responsavel.usuario.pessoa.nome}
          br
          | CPF:  \#{cpf}${responsavel.usuario.pessoa.cpf}\#{/cpf}
          | \#{if responsavel.getSetor() != null}
          br
          | Setor:  ${responsavel.getSetor().nome}
          | \#{/if}
        | \#{/list}
      p
        | Empreendimento:
        b  ${analiseEspecifica.analise.processo.empreendimento.denominacao}
      p
        | Municipío:
        b  ${analiseEspecifica.analise.processo.empreendimento.municipio.nome}-${analiseEspecifica.analise.processo.empreendimento.municipio.estado.codigo}
    div.parecer
      p
        | \#{verbatim}${analiseEspecifica.parecer}\#{/verbatim}

    .assinatura
      div
        span _______________________________________________________
      .dado-assinatura
        span
          |   \#{if analiseArea == "ANALISE_JURIDICA"}
          |     Consultor jurídico
          |   \#{/if}
          |   \#{else}
          |     Analista técnico
          |   \#{/else}
      .dado-assinatura
        span
          | ${responsavel.usuario.pessoa.nome}