doctype html
|%{
|	caracterizacao = analiseTecnica.analise.processo.caracterizacao;
|	numeroProcesso = caracterizacao.processoLicenciamento.numero;
|	numeroProtocolo = analiseTecnica.analise.processo.numero;
|   numero = enderecoEmpreendimento.numero != null ? enderecoEmpreendimento.numero : "S/N";
|	siglaLicenca = caracterizacao.tipoLicenca.sigla;
|	cpfCnpj = empreendimento.pessoa.cpf != null ? empreendimento.pessoa.cpf : empreendimento.pessoa.cnpj;
|	inscricaoEstadual = empreendimento.pessoa.inscricaoEstadual != null ? empreendimento.pessoa.inscricaoEstadual : "-";
|	atividadesCaracterizacao = caracterizacao.atividadesCaracterizacao;
|	maiorPPDEPorte = caracterizacao.getAtividadeCaracterizacaoMaiorPotencialPoluidorEPorte();
|}%
html(lang='en')
	head
		title Análise - Licenciamento Ambiental - Amapá
			link(rel='stylesheet' href='${templatePath}/style/estilo.css')
			meta(charset='UTF-8')

	body
		div
			h3(style="text-align:center; margin-top:0px;") MINUTA

		table

			tr.estrutura
				td(style='width: 10%')
				td(style='width: 10%')
				td(style='width: 10%')
				td(style='width: 10%')
				td(style='width: 10%')
				td(style='width: 10%')
				td(style='width: 10%')
				td(style='width: 10%')
				td(style='width: 10%')
				td(style='width: 10%')

			tr
				td.text-center(colspan='10')
					span MODALIDADE/ Nº DA LICENÇA PROPOSTA - ${siglaLicenca} Nº ${numeroProtocolo}

			tr
				td(colspan='5')
					span Processo Nº: ${numeroProcesso}
				td(colspan='5')
					span Protocolo Nº: ${numeroProtocolo}

			tr
				td(colspan='10')
					span Empresa/Interessado: ${empreendimento.denominacao}

			tr
				td(colspan='5')
					span CNPJ/CPF: ${utils.Helper.formatarCpfCnpj(cpfCnpj)}
				td(colspan='5')
					span Inscrição Estadual: ${inscricaoEstadual}

			tr
				td(colspan='10')
					span Endereço do empreendimento: ${enderecoEmpreendimento.logradouro}, ${numero}, ${enderecoEmpreendimento.bairro}

			tr
				td(colspan='10')
					span Endereço para correspondência: ${enderecoCorrespondencia.logradouro}, ${numero}, ${enderecoCorrespondencia.bairro}

			tr
				td(colspan='4')
					span Telefone: ${utils.PessoaEuUtils.getTelefone(empreendimento.pessoa)}
				td(colspan='3')
					span Município: ${enderecoEmpreendimento.municipio.nome}
				td(colspan='3')
					span CEP: ${utils.Helper.formatarCep(enderecoEmpreendimento.cep)}

			|\#{if !caracterizacao.isComplexo()}
			|\#{list items:atividadesCaracterizacao, as:'atividadeCaracterizacao' }
			tr
				td(colspan='10')
					span Atividade: ${atividadeCaracterizacao.getNomeAtividade()}

			tr
				td(colspan='10')
					span Localização da atividade:
						table
							|\#{list items:0..atividadeCaracterizacao.geometriasAtividade.size() -1, as:'index'}
							|%{
							|	geometriaAtividade = atividadeCaracterizacao.geometriasAtividade[index];
							|}%
							tr
								td.table-coordenadas(colspan='10') Geometria ${index + 1}:

							tr
								th(colspan='1') Ponto
								th(colspan='2') Latitude
								th(colspan='2') Longitude
								th(colspan='1') Ponto
								th(colspan='2') Latitude
								th(colspan='2') Longitude

							|\#{list items:0..geometriaAtividade.geometria.getCoordinates().length -2, as: 'coordenadas'}
							|\#{if coordenadas % 2 == 0}
							tr
								td.table-coordenadas(colspan='1') P-${coordenadas +1}
								td.table-coordenadas(colspan='2') ${utils.CoordenadaUtil.formataLatitudeString(geometriaAtividade.geometria.getCoordinates()[coordenadas].y)}
								td.table-coordenadas(colspan='2') ${utils.CoordenadaUtil.formataLongitudeString(geometriaAtividade.geometria.getCoordinates()[coordenadas].x)}
								|\#{if coordenadas+1 != geometriaAtividade.geometria.getCoordinates().length -1}
								td.table-coordenadas(colspan='1') P-${coordenadas +2}
								td.table-coordenadas(colspan='2') ${utils.CoordenadaUtil.formataLatitudeString(geometriaAtividade.geometria.getCoordinates()[coordenadas+1].y) != null ? utils.CoordenadaUtil.formataLongitudeString(geometriaAtividade.geometria.getCoordinates()[coordenadas+1].y) : '-'}
								td.table-coordenadas(colspan='2') ${utils.CoordenadaUtil.formataLongitudeString(geometriaAtividade.geometria.getCoordinates()[coordenadas+1].x) != null ? utils.CoordenadaUtil.formataLongitudeString(geometriaAtividade.geometria.getCoordinates()[coordenadas+1].x) : '-' }
								|\#{/if}
							|\#{/if}
							|\#{/list}
							|\#{/list}
			|\#{/list}
			|\#{/if}
			|\#{else}
			tr
				td(colspan='10')
					span Atividades do complexo:
						table
							|\#{list items:atividadesCaracterizacao, as:'atividadeCaracterizacao' }
							tr
								td.table-coordenadas(colspan='10') - ${atividadeCaracterizacao.getNomeAtividade()}
							|\#{/list}
			tr
				td(colspan='10')
					span Localização do complexo:
						table
							|\#{list items:caracterizacao.geometriasComplexo, as:'geometriaComplexo'}
							tr
								th(colspan='1') Ponto
								th(colspan='2') Latitude
								th(colspan='2') Longitude
								th(colspan='1') Ponto
								th(colspan='2') Latitude
								th(colspan='2') Longitude

							|\#{list items:0..geometriaComplexo.geometria.getCoordinates().length -2, as:'coordenadas'}
							|\#{if coordenadas % 2 == 0}
							tr
								td.table-coordenadas(colspan='1') P-${coordenadas +1}
								td.table-coordenadas(colspan='2') ${utils.CoordenadaUtil.formataLatitudeString(geometriaComplexo.geometria.getCoordinates()[coordenadas].y)}
								td.table-coordenadas(colspan='2') ${utils.CoordenadaUtil.formataLongitudeString(geometriaComplexo.geometria.getCoordinates()[coordenadas].x)}
								|\#{if coordenadas+1 != geometriaComplexo.geometria.getCoordinates().length -1}
								td.table-coordenadas(colspan='1') P-${coordenadas +2}
								td.table-coordenadas(colspan='2') ${utils.CoordenadaUtil.formataLatitudeString(geometriaComplexo.geometria.getCoordinates()[coordenadas+1].y) != null ? utils.CoordenadaUtil.formataLongitudeString(geometriaComplexo.geometria.getCoordinates()[coordenadas+1].y) : '-'}
								td.table-coordenadas(colspan='2') ${utils.CoordenadaUtil.formataLongitudeString(geometriaComplexo.geometria.getCoordinates()[coordenadas+1].x) != null ? utils.CoordenadaUtil.formataLongitudeString(geometriaComplexo.geometria.getCoordinates()[coordenadas+1].x) : '-' }
								|\#{/if}
							|\#{/if}
							|\#{/list}
							|\#{/list}
			|\#{/else}

			tr
				td(colspan='10')
					span Finalidade:
						|\#{verbatim}${parecer.finalidadeAtividade}\#{/verbatim}

			tr
				td(colspan='4')
					span Potencial Poluidor/Degradador: ${maiorPPDEPorte.atividade.potencialPoluidor.nome}
				td(colspan='3')
					span Porte: ${maiorPPDEPorte.porteEmpreendimento.nome}
				|\#{if caracterizacao.atividadesCaracterizacao[0].atividade.tipologia.codigo == 'AQUICULTURA'}
				td(colspan='3')
				span Validade: ${parecer.validadePermitida} anos
				|\#{/if}

		div
			h3(style="text-align:center; margin-top:30px;") RESTRIÇÕES E/OU CONDIÇÕES DE VALIDADE DESTA LICENÇA - ${siglaLicenca} Nº ${numeroProtocolo}

		|\#{if siglaLicenca == 'LP'}
		div
			ol.lista-conteudo
				li.titulo-item
					.conteudo-item
						span  O recebimento da presente Licença Prévia deverá ser publicado no Diário Oficial do Estado,
							|em periódico local e meio digital oficial, conforme preconiza a Lei Complementar Estadual Nº. 005/94.
							|A comprovação do atendimento desta condicionante deverá ser protocolada nesta Secretaria de Estado do Meio Ambiente- SEMA
							|no prazo máximo de 30 (trinta) dias a contar da data de expedição desta licença;
				li.titulo-item
					.conteudo-item
						span O empreendedor deverá requerer a renovação da presente licença no período de 90 (noventa) dias antes da expiração da mesma;
				li.titulo-item
					.conteudo-item
						span Quaisquer alterações nas especificações do projeto apresentado somente poderão ser realizadas se precedidas de anuência da SEMA;
				li.titulo-item
					.conteudo-item
						span A SEMA, mediante decisão motivada e embasada, poderá modificar prazos das condicionantes, assim como medidas de controle das mesmas,
							|podendo suspender ou cancelar esta licença, quando ocorrer: a) violação ou inadequação de quaisquer condicionantes ou normais legais;
							|b) omissão ou falsa descrição de informações relevantes que subsidiaram a expedição da licença;
							|c) superveniência de graves riscos ambientais e de saúde animal ou humana;
		|\#{/if}

		|\#{if siglaLicenca == "LI" || siglaLicenca == "RLI"}
		div
			ol.lista-conteudo
				li.titulo-item
					.conteudo-item
						span  O recebimento da presente Licença de Instalação deverá ser publicado no Diário Oficial do Estado,
							|em periódico local e meio digital oficial, conforme preconiza a Lei Complementar Estadual Nº. 005/94.
							|A comprovação do atendimento desta condicionante deverá ser protocolada nesta Secretaria de Estado do Meio Ambiente- SEMA
							|no prazo máximo de 30 (trinta) dias a contar da data de expedição desta licença;
				li.titulo-item
					.conteudo-item
						span O empreendedor deverá requerer a renovação da presente licença no período de 90 (noventa) dias antes da expiração da mesma;
				li.titulo-item
					.conteudo-item
						span Quaisquer alterações nas especificações do projeto apresentado somente poderão ser realizadas se precedidas de anuência da SEMA;
				li.titulo-item
					.conteudo-item
						span O empreendedor deverá confeccionar e fixar placa informativa do licenciamento conforme modelo apresentado pela
							|SEMA, devendo comprovar o cumprimento desta condicionante mediante registo fotográfico
							|no prazo de 30 (trinta) dias a contar da data de expedição desta Licença;
				li.titulo-item
					.conteudo-item
						span O Empreendedor deverá requerer a “Taxa Anual de Renovação de Licenciamento” enquanto perdurar a
							|validade da licença. O vencimento para o pagamento da “Taxa”, obedecerá a proporcionalidade do mês que foi
							|expedida a licença (aniversário da licença), nos termos do 1° do Art. 12-A da Lei Complementar 005/94. A
							|comprovação do atendimento desta condicionante deverá ser protocolada na Secretaria de Estado do Meio
							|Ambiente no prazo máximo de 30 (trinta) dias, a Contar do vencimento para o pagamento da taxa;
				li.titulo-item
					.conteudo-item
						span A SEMA, mediante decisão motivada e embasada, poderá modificar prazos das condicionantes, assim como medidas
							|de controle das mesmas, podendo suspender ou cancelar esta licença, quando ocorrer a
							|violação ou inadequação de quaisquer condicionantes ou normais legais; b) omissão ou falsa descrição de
							|informações relevantes que subsidiaram a expedição da licença; c) superveniência de graves riscos ambientais
							|e de saúde animal ou humana;
				li.titulo-item
					.conteudo-item
						span Esta licença deverá ser fixada em local visível no empreendimento.
		|\#{/if}

		|\#{if siglaLicenca == "LO" || siglaLicenca == "RLO"}
		div
			ol.lista-conteudo
				li.titulo-item
					.conteudo-item
						span  O recebimento da presente Licença de Operação (LO) deverá ser publicado no Diário Oficial do Estado, em periódico local e meio digital oficial,
							|conforme preconiza a Lei Complementar No. 070/2012, sendo que as cópias das publicações deverão ser encaminhadas ao IMAP
							|no prazo de 30 (trinta) dias.
				li.titulo-item
					.conteudo-item
						span O empreendedor deve requerer a renovação da presente licença no prazo de 120 (cento e vinte) dias antes da expiração da mesma,
							|devendo ainda requerer a “Taxa Anual de Renovação de Licenciamento” instituída pela Lei Complementar no 70/2012, durante o mês de janeiro de cada ano.
							|O vencimento para o pagamento da conforme o §1o, do art. 1o, da Lei Complementar no. 070/2012. O vencimento para o pagamento da
							|“Taxa Anual de Renovação de Licenciamento” será sempre no dia 31 de janeiro de cada ano, conforme o art. 1o, da LC No. 070/2012, a cópia do
							|comprovante de pagamento deverá ser protocolada no IMAP até o dia 28 de fevereiro de cada ano.
				li.titulo-item
					.conteudo-item
						span O IMAP, mediante decisão motivada e embasada, poderá modificar prazos das condicionantes, assim como medidas de controle das mesmas,
							|podendo suspender ou cancelar esta licença, quando ocorrer prioritariamente: a) violação ou inadequação de quaisquer condicionantes ou normais legais;
							|b) omissão ou falsa descrição de informações relevantes que subsidiaram a expedição da licença;
							|c) superveniência de graves riscos ambientais e de saúde animal ou humana;
				li.titulo-item
					.conteudo-item
						span Quaisquer alterações nas especificações do projeto apresentado somente poderão ser realizadas se precedidas de anuência do IMAP;
				li.titulo-item
					.conteudo-item
						span A empresa deverá confeccionar e fixar placa informativa do licenciamento conforme modelo apresentado pelo IMAP, bem como mantê-las atualizadas a cada renovação,
							|no prazo de 15 (quinze) dias.
				li.titulo-item
					.conteudo-item
						span Esta licença deverá ser fixada em local visível no empreendimento.
		|\#{/if}

		| \#{if parecer != null && ((parecer.condicionantes!= null && !parecer.condicionantes.isEmpty()) || (parecer != null && parecer.restricoes != null && !parecer.restricoes.isEmpty()))}
		div
			h3(style="text-align:center; margin-top:30px;") RESTRIÇÕES E/OU CONDIÇÕES ESPECÍFICAS DESTA LICENÇA - ${siglaLicenca} Nº ${numeroProtocolo}
		div
			ol.lista-conteudo
				|\#{if !parecer.condicionantes.isEmpty()}
				|\#{list items:parecer.condicionantes, as:'condicionante'}
				li.titulo-item
					.conteudo-item
						span ${condicionante.texto}
						br
						span Prazo para atendimento de ${condicionante.prazo} dia(s).
				|\#{/list}
				|\#{/if}
				|\#{if !parecer.restricoes.isEmpty()}
				|\#{list items:parecer.restricoes, as:'restricao'}
				li.titulo-item
					.conteudo-item
						span ${restricao.texto}
				|\#{/list}
				|\#{/if}
		|\#{/if}

		span.in-right Macapá, ${utils.Helper.getDataPorExtenso(new Date())}