div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === caixaEntrada.perfis.COORDENADOR_JURIDICO",
    ng-controller='cxEntCoordenadorJuridicoController as cxEntCoordenadorJuridico')
    include coordenadorJuridico/caixa-entrada

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === caixaEntrada.perfis.CONSULTOR_JURIDICO",
    ng-controller='cxEntConsultorJuridicoController as cxEntConsultorJuridico')
    include consultorJuridico/caixa-entrada

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === caixaEntrada.perfis.COORDENADOR_TECNICO",
    ng-controller='cxEntCoordenadorTecnicoController as cxEntCoordenadorTecnico')
    include coordenadorTecnico/caixa-entrada    

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === caixaEntrada.perfis.ANALISTA_TECNICO",
    ng-controller='cxEntAnalistaTecnicoController as cxEntAnalistaTecnico')
    include analistaTecnico/caixa-entrada

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === caixaEntrada.perfis.ANALISTA_GEO",
ng-controller='cxEntAnalistaGeoController as cxEntAnalistaGeo')
    include analistaGeo/caixa-entrada

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === caixaEntrada.perfis.GERENTE",
    ng-controller='cxEntGerenteTecnicoController as cxEntGerente')
    include gerenteTecnico/caixa-entrada

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === caixaEntrada.perfis.DIRETOR",
    ng-controller='cxEntDiretorController as cxEntDiretor')
    include diretorTecnico/caixa-entrada

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === caixaEntrada.perfis.SECRETARIO",
    ng-controller='cxEntSecretarioController as cxEntSecretario')
    include secretario/caixa-entrada
