div(uib-accordion class="accordion")
	div(uib-accordion-group class="panel-default" is-open="$ctrl.openedAccordion")
		uib-accordion-heading(ng-click="$ctrl.openedAccordion=!$ctrl.openedAccordion")
			div(role="button")
				| Filtros para consulta
				i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.openedAccordion, 'glyphicon-chevron-right': !$ctrl.openedAccordion}")

		.row.form-group
			.col-md-5.col-sm-6
				label.control-label Número do processo:
				input.form-control(type='text', name='numProcesso', ng-model='$ctrl.filtro.numeroProcesso', placeholder='Número do processo', maxlength="15")

			.col-md-7.col-sm-6
				label.control-label CPF/CNPJ do empreendimento:
				input.form-control(type='text', id="cpfCnpjEmpreendimento", name='cpfCnpjEmpreendimento', ng-model='$ctrl.filtro.cpfCnpjEmpreendimento', placeholder=' CPF/CNPJ do empreendimento', ng-model-options="{allowInvalid:true}", ui-br-cpfcnpj-mask)

		.row.form-group
			.col-md-12
				label.control-label Município do empreendimento:
				select.form-control(ng-model="$ctrl.filtro.idMunicipioEmpreendimento", name="selectMunicipio",
									ng-options="municipio.id as municipio.nome for municipio in $ctrl.municipios track by municipio.id")
					option(value="") Selecione o município do empreendimento

		.row.form-group
			.col-md-12
				label.control-label Tipologia do empreendimento:
				select.form-control(ng-model="$ctrl.filtro.idTipologiaEmpreendimento", name="selectTipologia",
									ng-options="tipologia.id as tipologia.nome for tipologia in $ctrl.tipologias | orderBy:'nome' track by tipologia.id")
					option(value="") Selecione a tipologia do empreendimento

		.row.form-group
			.col-md-12
				label.control-label Atividade do empreendimento:
				select.form-control(ng-model="$ctrl.filtro.idAtividade", name="selectAtividade",
									ng-options="atividade.id as atividade.nome for atividade in $ctrl.atividades | orderBy:'nome' track by atividade.id")
					option(value="") Selecione a atividade do empreendimento

		.row.form-group
			.col-md-12
				label.control-label Manejo Digital:
				select.form-control(ng-model="$ctrl.filtro.idManejoDigital", name="selectManejoDigital",
				ng-options="manejoDigital.id as manejoDigital.nome for manejoDigital in $ctrl.manejosDigitais | orderBy:'nome' track by manejoDigital.id")
					option(value="") Selecione o manejo digital

		.row.form-group
			.col-md-12
				label.control-label Status da Licença:
				select.form-control(ng-model="$ctrl.filtro.idStatusLicenca", name="selectStatusLicenca",
				ng-options="statusLicenca.idCondicao as statusLicenca.nome for statusLicenca in $ctrl.statusLicenca | orderBy:'nome' track by statusLicenca.idCondicao")
					option(value="") Selecione o status da licença


		div.pull-right
			a.limpar-filtros.traditional(ng-click="$ctrl.limparFiltros()")
				span Limpar filtros
			button.btn.btn-default.btn-success(ng-click="$ctrl.pesquisar(1)", tabindex="0")
				span.glyphicon.glyphicon-search
				| &nbsp;Pesquisar