include ./observacoes

h5 Informações declaradas no CAR

div
	blockquote.analise-manejo
		table.table.table-striped.table-condensed

			thead
				tr
					th Dados
					th Valores

			tbody
				tr
					td.col-md-5 Registro no CAR
					td.col-md-6 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.registroCar ? analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.registroCar : '-'}}
				tr
					td.col-md-5 Área total do imóvel documental
					td.col-md-6 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaTotalImovelDocumentado ? analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaTotalImovelDocumentado : '-'}}
				tr
					td.col-md-5 Área liquida do imóvel
					td.col-md-6 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaLiquidaImovel ? analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaLiquidaImovel : '-'}}
				tr
					td.col-md-5 Reserva legal - RL
					td.col-md-6 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaReservaLegal ? analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaReservaLegal : '-'}}
				tr
					td.col-md-5 Área de preservação permanente - APP
					td.col-md-6 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaPreservacaoPermanente ? analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaPreservacaoPermanente : '-'}}
				tr
					td.col-md-5 Remanescente de vegetação nativa
					td.col-md-6 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaRemanescenteVegetacaoNativa ? analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaRemanescenteVegetacaoNativa : '-'}}
				tr
					td.col-md-5 Corpos d'água
					td.col-md-6 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaCorposAgua ? analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaCorposAgua : '-'}}
				tr
					td.col-md-5 Área de uso consolidado
					td.col-md-6 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaUsoConsolidado ? analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.imovel.areaUsoConsolidado : '-'}}

div
	blockquote.analise-manejo
		div
			.panel.panel-default
				.panel-heading
					h4.panel-title Anexos
				.panel-body
					div.row
						div.col-md-12
							table.table.table-striped
								thead
									tr
										th.col-md-1 Status
										th.col-md-5 Tipo documento
										th.col-md-3 Documento
										th.col-md-1.text-right Ações
								tbody
									tr(ng-repeat="documentoImovel in analiseTecnicaManejo.analiseTecnica.documentosImovel")
										td {{documentoImovel.nome ? 'Enviado' : 'Aguardando'}}
										td(class="relative")
											div {{documentoImovel.titulo}}
										td
											div(ng-if="documentoImovel.nome") {{documentoImovel.nome}}
										td
											div.btn-group.pull-right
												button.btn.btn-default.btn-xs.no-margin(title="Clique para fazer o upload do arquivo",
												ngf-select, ngf-multiple="false", ngf-keep="false", ngf-max-files="1",
												ngf-change="analiseTecnicaManejo.selecionarDocumentoImovel($files, documentoImovel.idTipoDocumento)",
												ng-if="!documentoImovel.nome",
												ngf-accept="'application/pdf,application/zip'"
												ng-class="{'button-error': analiseTecnicaManejo.$submitted}")
													i.fa.fa-upload
												button.btn.btn-default.btn-xs.no-margin(title="Clique para baixar o arquivo",
												ng-click="analiseTecnicaManejo.downloadDocumento(documentoImovel.id)",
												ng-if="documentoImovel.nome", target="_blank")
													i.fa.fa-download
												button.btn.btn-default.btn-xs.no-margin(title="Clique para remover o arquivo",
												ng-click="analiseTecnicaManejo.removeDocumentoImovel(documentoImovel.id)",
												ng-if="documentoImovel.nome")
													i.fa.fa-trash

	div
		+observacoes('analiseTecnicaManejo.analiseTecnica.observacoesDadosImovel')
