mixin sideBarLayers(idMapa,tituloCamadas, controller)
	- var titulo = tituloCamadas || 'Camadas'
	#sidebar.sidebar.scrollbar.collapsed

		// Nav tabs
		.sidebar-tabs
			ul(role='tablist')
				li(title="Camadas do projeto",
						data-toggle="tooltip",
						data-placement="right",
						data-container="body")
					a.inline_block(href='#camadas', role="tab")
						i.i.fa.fa-map-o

				li(title="Camadas",
						data-toggle="tooltip",
						data-placement="right",
						data-container="body",
						ng-click=controller + ".getCamadasSobreposicoes()")
					a.inline_block(href='#sobreposicoes', role="tab")
						i.i.fa.fa-list-ul

		// Tab panes
		.sidebar-content
			#camadas.sidebar-pane
				h1.sidebar-header
					| #{titulo}
					span.sidebar-close
						i.fa.fa-times

				div(ng-show=controller + ".camadasDadosEmpreendimento.length > 0")
					uib-accordion
						.panel-default(uib-accordion-group, heading='Camadas do empreendimento')

							div.sidebar-body
								.row.no-margin-left-right.camadas-mapa(ng-repeat="camada in " + controller + ".camadasDadosEmpreendimento")
									div(ng-if="camada.geometrias.length > 0 && geometria.geometria" ng-repeat="geometria in camada.geometrias")
										.col-sm-9.col-xs-9.descricao
											span.fa.fa-square.icon-legenda(ng-style="{'color': geometria.color}")
											span {{ geometria.item }}

										.col-sm-3.col-xs-3(style='padding: 0px;')

											button.btn.btn-exibe-camada.fa.icon-button(ng-class="{'fa-eye' : geometria.visivel, 'fa-eye-slash' : !geometria.visivel}",
											ng-click=controller + ".controlaExibicaoCamadas(geometria)")
											button.btn.btn-exibe-camada.fa.fa-crosshairs.icon-button(ng-click=controller + ".controlaCentralizacaoCamadas(geometria)")

				div#camadas-restricoes(ng-show=controller + ".dadosProjeto.restricoes.length > 0")
					uib-accordion
						.panel-default(uib-accordion-group, heading = "{{" + controller + ".setLabelRestricao()}}")

							div.sidebar-body(ng-repeat="restricao in " + controller + ".dadosProjeto.restricoes")
								.row.no-margin-left-right.camadas-mapa
									.col-sm-9.col-xs-9.descricao
										span.fa.fa-square.icon-legenda(ng-style="{'color': restricao.color}")
										span {{ restricao.item }}

									.col-sm-3.col-xs-3(style='padding: 0px;')

										button.btn.btn-exibe-camada.fa.icon-button(ng-class="{'fa-eye' : restricao.visivel, 'fa-eye-slash' : !restricao.visivel}",
										ng-click=controller + ".controlaExibicaoCamadas(restricao)")
										button.btn.btn-exibe-camada.fa.fa-crosshairs.icon-button(ng-click=controller + ".controlaCentralizacaoCamadas(restricao)")

				div#camadas-atividades(ng-show=controller + ".dadosProjeto.categoria !== " + controller + ".categoria.COMPLEXO && " + controller + ".dadosProjeto.complexo === null && " + controller + ".dadosProjeto.atividades.length > 0")
					uib-accordion(ng-repeat="dadoProjeto in " + controller + ".dadosProjeto.atividades")
						.panel-default(uib-accordion-group, heading="{{ dadoProjeto.atividadeCaracterizacao.atividade.nome }}")

							div.sidebar-body(ng-repeat="camada in dadoProjeto.geometrias")
								.row.no-margin-left-right.camadas-mapa
									.col-sm-9.col-xs-9.descricao
										span.fa.fa-square.icon-legenda(ng-style="{'color': camada.color}")
										span {{ camada.item }}

									.col-sm-3.col-xs-3(style='padding: 0px;')

										button.btn.btn-exibe-camada.fa.icon-button(ng-class="{'fa-eye' : camada.visivel, 'fa-eye-slash' : !camada.visivel}",
										ng-click=controller + ".controlaExibicaoCamadas(camada)")
										button.btn.btn-exibe-camada.fa.fa-crosshairs.icon-button(ng-click=controller + ".controlaCentralizacaoCamadas(camada)")

				div#camadas-complexo(ng-show=controller + ".dadosProjeto.categoria === " + controller + ".categoria.COMPLEXO || " + controller + ".dadosProjeto.complexo")
					uib-accordion
						.panel-default(uib-accordion-group, heading='Camadas do complexo')

							div.sidebar-body(ng-repeat="camada in " + controller + ".dadosProjeto.complexo.geometrias")
								.row.no-margin-left-right.camadas-mapa
									.col-sm-9.col-xs-9.descricao
										span.fa.fa-square.icon-legenda(ng-style="{'color': camada.color}")
										span {{ camada.item }}

									.col-sm-3.col-xs-3(style='padding: 0px;')

										button.btn.btn-exibe-camada.fa.icon-button(ng-class="{'fa-eye' : camada.visivel, 'fa-eye-slash' : !camada.visivel}",
										ng-click=controller + ".controlaExibicaoCamadas(camada)")
										button.btn.btn-exibe-camada.fa.fa-crosshairs.icon-button(ng-click=controller + ".controlaCentralizacaoCamadas(camada)")

				div#camadas-complexo(ng-show=controller + ".sobreposicoesEmpreendimento.length > 0")
					uib-accordion
						.panel-default(uib-accordion-group, heading='Camadas de sobreposições com empreendimento')

							div.sidebar-body(ng-repeat="camada in " + controller + ".sobreposicoesEmpreendimento")
								.row.no-margin-left-right.camadas-mapa
									.col-sm-9.col-xs-9.descricao
										span.fa.fa-square.icon-legenda(ng-style="{'color': camada.color}")
										span {{ camada.nomeAreaSobreposicao }}

									.col-sm-3.col-xs-3(style='padding: 0px;')

										button.btn.btn-exibe-camada.fa.icon-button(ng-class="{'fa-eye' : camada.visivel, 'fa-eye-slash' : !camada.visivel}",
											ng-click=controller + ".controlaExibicaoCamadas(camada)")
										button.btn.btn-exibe-camada.fa.fa-crosshairs.icon-button(ng-click=controller + ".controlaCentralizacaoCamadas(camada)")

			#sobreposicoes.sidebar-pane
				h1.sidebar-header
					| Camadas
					span.sidebar-close
						i.fa.fa-times

				div.sidebar-body
					.row.no-margin-left-right.camadas-mapa(ng-repeat="tipoSobreposicao in " + controller + ".TiposSobreposicao")
						.col-sm-9.col-xs-9
							.col-sm-2.col-xs-2.imagem-legenda
								div(class="{{ tipoSobreposicao.legenda }}")
							.col-sm-10.col-xs-10.descricao-legenda
								span {{tipoSobreposicao.nome}}

						.col-sm-3.col-xs-3(style='text-align: center;')

							button.btn.btn-exibe-camada.fa.icon-button(ng-class="{'fa-eye' : tipoSobreposicao.visivel, 'fa-eye-slash' : !tipoSobreposicao.visivel}",
							ng-click=controller + ".controlaExibicaoLayer(tipoSobreposicao)")
