include ../../../../layout/components/panel
include ../../../../components/resumoProcesso/resumo-processo
include ../../../../layout/components/inputErrors

+resumo-processo('validacaoAnaliseJuridica.analiseJuridica.analise.processo')

section.margin-bottom-md

	h3 Análise jurídica

	div.margin-top-md
		label.not-bold.margin-right-xs(for="texto_nome_consultor_juridico") Consultor jurídico:  
		span#texto_nome_consultor_juridico
			strong {{usuarioSessao.nome}}
	hr

	h4 {{validacaoAnaliseJuridica.analiseJuridica.tipoResultadoAnalise.nome}}

	fieldset.panel.panel-default
		div.panel-body
			p(ng-bind-html="validacaoAnaliseJuridica.analiseJuridica.parecer")

	table.table.table-condensed

		thead

			tr
				th Arquivo anexado
				th.text-right Ações

		tbody

			tr(ng-repeat="documento in validacaoAnaliseJuridica.analiseJuridica.documentos")

				td {{documento.nome}}
				td.text-right 
					a.btn(ng-if="documento.id", title="Baixar documento", ng-click="validacaoAnaliseJuridica.downloadDocumentoAnalise(documento.id)")
						i.glyphicon.glyphicon-save

	.row(ng-show="!validacaoAnaliseJuridica.analiseJuridica.documentos || validacaoAnaliseJuridica.analiseJuridica.documentos.length == 0")
		.col-md-12
			p.empty-result Não existem arquivos anexados.
	
	form(name="formularioValidacao", novalidate)
		.form-group.text-center.margin-bottom-md.margin-top-md
			div(ng-class="{'input-radio-error': formularioValidacao.$submitted && formularioValidacao.resultado.$error.required}")
				label.radio-inline(for="radio_parecer_validado")
					input#radio_parecer_validado(type="radio", name="resultado", ng-value="validacaoAnaliseJuridica.TiposResultadoAnalise.PARECER_VALIDADO", 
						ng-model="validacaoAnaliseJuridica.analiseJuridicaValidacao.idTipoResultadoValidacao", required) 
					| Parecer validado
				label.radio-inline(for="radio_solicitar_ajustes")
					input#radio_solicitar_ajustes(type="radio", name="resultado", ng-value="validacaoAnaliseJuridica.TiposResultadoAnalise.SOLICITAR_AJUSTES", 
						ng-model="validacaoAnaliseJuridica.analiseJuridicaValidacao.idTipoResultadoValidacao", required) 
					| Solicitar ajustes
				label.radio-inline(for="radio_parecer_nao_validado")
					input#radio_parecer_nao_validado(type="radio", name="resultado", ng-value="validacaoAnaliseJuridica.TiposResultadoAnalise.PARECER_NAO_VALIDADO", 
						ng-model="validacaoAnaliseJuridica.analiseJuridicaValidacao.idTipoResultadoValidacao", required) 
					| Parecer não validado
			+inputErrors('formularioValidacao', 'resultado', 'required')

		
		.form-group(ng-if="!!validacaoAnaliseJuridica.analiseJuridicaValidacao.idTipoResultadoValidacao")
			label.control-label(ng-class="{'obrigatorio': validacaoAnaliseJuridica.isParecerNaoValidado()}") 
				| {{validacaoAnaliseJuridica.isParecerNaoValidado() ? 'Justificativa:' : 'Considerações:'}}

			div(text-angular, ng-model="validacaoAnaliseJuridica.analiseJuridicaValidacao.parecerValidacao", name="parecer", required, 
				ta-text-editor-class="form-control myform2-height", 
				ta-html-editor-class="form-control myform2-height",
				ng-required="validacaoAnaliseJuridica.isParecerNaoValidado()",
				ng-class="{'wysiwyg-error': formularioValidacao.$submitted && formularioValidacao.parecer.$error.required}")

			+inputErrors('formularioValidacao', 'parecer', 'required')

		.form-group(ng-if="validacaoAnaliseJuridica.isParecerNaoValidado()")
				label.control-label.obrigatorio Consultor jurídico:
				select.form-control(
					ng-model="validacaoAnaliseJuridica.analiseJuridicaValidacao.idConsultorJuridico", 
					name="selectConsultor",
					required,
					ng-options="consultor.id as consultor.pessoa.nome for consultor in validacaoAnaliseJuridica.consultores")

				+inputErrors('formularioValidacao', 'selectConsultor', 'required')

section.margin-bottom-xl

	button.btn.btn-default.col-md-2(ng-click="validacaoAnaliseJuridica.cancelar()")
		i.glyphicon.glyphicon-ban-circle.glyphicon--with-right-margin
		| Cancelar
	
	button.btn.btn-success.col-md-2.col-md-offset-8(ng-click="validacaoAnaliseJuridica.concluir()")
		i.glyphicon.glyphicon-check.glyphicon--with-right-margin
		| Concluir